@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 以上為reset.css的內容，以下為自定義的樣式 */
*, *::before, *::after {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  min-width: 100%;
}

a, i, s, u {
  font-style: normal;
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
}

/* 以下為 color樣式 */
:root {
  --color-primary-50: #FDF7F1;
  --color-primary-100: #FDE6CF;
  --color-primary-500: #F5B87B;
  --color-primary-900: #24140B;
  --color-neutral-0: #FFFFFF;
  --color-neutral-500: #737373;
  --color-neutral-700: #404040;
  --color-neutral-900: #1e1e1e;
  --color-dark-40a: rgba(0, 0, 0, 0.4);
  --color-dark-60a: rgba(0, 0, 0, 0.6);
}

.bg-light {
  background-color: var(--color-primary-50);
  color: var(--color-neutral-700);
}

.bg-primary {
  background-color: var(--color-primary-900);
  color: var(--color-neutral-0);
}

/* －－－以上為 color樣式 */
/* 以下為 grid 等相關容器樣式 */
:root {
  --gap: 24px;
  --gap-sm: 12px;
  --gap-xl: 24px;
  --gap-0: 0;
  --p-0: 0;
  --m-0: 0;
  --gap-1: 4px;
  --p-1: 4px;
  --m-1: 4px;
  --gap-2: 8px;
  --p-2: 8px;
  --m-2: 8px;
  --gap-3: 12px;
  --p-3: 12px;
  --m-3: 12px;
  --gap-4: 16px;
  --p-4: 16px;
  --m-4: 16px;
  --gap-5: 20px;
  --p-5: 20px;
  --m-5: 20px;
  --gap-6: 24px;
  --p-6: 24px;
  --m-6: 24px;
  --gap-7: 28px;
  --p-7: 28px;
  --m-7: 28px;
  --gap-8: 40px;
  --p-8: 40px;
  --m-8: 40px;
  --gap-9: 64px;
  --p-9: 64px;
  --m-9: 64px;
  --gap-10: 80px;
  --p-10: 80px;
  --m-10: 80px;
  --gap-auto: auto;
  --p-auto: auto;
  --m-auto: auto;
}

.gap-0 {
  gap: var(--gap-0);
}

.p-0 {
  padding: var(--gap-0);
}

.pt-0 {
  padding-top: var(--gap-0);
}

.pb-0 {
  padding-bottom: var(--gap-0);
}

.pl-0 {
  padding-left: var(--gap-0);
}

.pr-0 {
  padding-right: var(--gap-0);
}

.px-0 {
  padding-left: var(--gap-0);
  padding-right: var(--gap-0);
}

.py-0 {
  padding-top: var(--gap-0);
  padding-bottom: var(--gap-0);
}

.m-0 {
  margin: var(--gap-0);
}

.mt-0 {
  margin-top: var(--gap-0);
}

.mb-0 {
  margin-bottom: var(--gap-0);
}

.ml-0 {
  margin-left: var(--gap-0);
}

.mr-0 {
  margin-right: var(--gap-0);
}

.mx-0 {
  margin-left: var(--gap-0);
  margin-right: var(--gap-0);
}

.my-0 {
  margin-top: var(--gap-0);
  margin-bottom: var(--gap-0);
}

.gap-1 {
  gap: var(--gap-1);
}

.p-1 {
  padding: var(--gap-1);
}

.pt-1 {
  padding-top: var(--gap-1);
}

.pb-1 {
  padding-bottom: var(--gap-1);
}

.pl-1 {
  padding-left: var(--gap-1);
}

.pr-1 {
  padding-right: var(--gap-1);
}

.px-1 {
  padding-left: var(--gap-1);
  padding-right: var(--gap-1);
}

.py-1 {
  padding-top: var(--gap-1);
  padding-bottom: var(--gap-1);
}

.m-1 {
  margin: var(--gap-1);
}

.mt-1 {
  margin-top: var(--gap-1);
}

.mb-1 {
  margin-bottom: var(--gap-1);
}

.ml-1 {
  margin-left: var(--gap-1);
}

.mr-1 {
  margin-right: var(--gap-1);
}

.mx-1 {
  margin-left: var(--gap-1);
  margin-right: var(--gap-1);
}

.my-1 {
  margin-top: var(--gap-1);
  margin-bottom: var(--gap-1);
}

.gap-2 {
  gap: var(--gap-2);
}

.p-2 {
  padding: var(--gap-2);
}

.pt-2 {
  padding-top: var(--gap-2);
}

.pb-2 {
  padding-bottom: var(--gap-2);
}

.pl-2 {
  padding-left: var(--gap-2);
}

.pr-2 {
  padding-right: var(--gap-2);
}

.px-2 {
  padding-left: var(--gap-2);
  padding-right: var(--gap-2);
}

.py-2 {
  padding-top: var(--gap-2);
  padding-bottom: var(--gap-2);
}

.m-2 {
  margin: var(--gap-2);
}

.mt-2 {
  margin-top: var(--gap-2);
}

.mb-2 {
  margin-bottom: var(--gap-2);
}

.ml-2 {
  margin-left: var(--gap-2);
}

.mr-2 {
  margin-right: var(--gap-2);
}

.mx-2 {
  margin-left: var(--gap-2);
  margin-right: var(--gap-2);
}

.my-2 {
  margin-top: var(--gap-2);
  margin-bottom: var(--gap-2);
}

.gap-3 {
  gap: var(--gap-3);
}

.p-3 {
  padding: var(--gap-3);
}

.pt-3 {
  padding-top: var(--gap-3);
}

.pb-3 {
  padding-bottom: var(--gap-3);
}

.pl-3 {
  padding-left: var(--gap-3);
}

.pr-3 {
  padding-right: var(--gap-3);
}

.px-3 {
  padding-left: var(--gap-3);
  padding-right: var(--gap-3);
}

.py-3 {
  padding-top: var(--gap-3);
  padding-bottom: var(--gap-3);
}

.m-3 {
  margin: var(--gap-3);
}

.mt-3 {
  margin-top: var(--gap-3);
}

.mb-3 {
  margin-bottom: var(--gap-3);
}

.ml-3 {
  margin-left: var(--gap-3);
}

.mr-3 {
  margin-right: var(--gap-3);
}

.mx-3 {
  margin-left: var(--gap-3);
  margin-right: var(--gap-3);
}

.my-3 {
  margin-top: var(--gap-3);
  margin-bottom: var(--gap-3);
}

.gap-4 {
  gap: var(--gap-4);
}

.p-4 {
  padding: var(--gap-4);
}

.pt-4 {
  padding-top: var(--gap-4);
}

.pb-4 {
  padding-bottom: var(--gap-4);
}

.pl-4 {
  padding-left: var(--gap-4);
}

.pr-4 {
  padding-right: var(--gap-4);
}

.px-4 {
  padding-left: var(--gap-4);
  padding-right: var(--gap-4);
}

.py-4 {
  padding-top: var(--gap-4);
  padding-bottom: var(--gap-4);
}

.m-4 {
  margin: var(--gap-4);
}

.mt-4 {
  margin-top: var(--gap-4);
}

.mb-4 {
  margin-bottom: var(--gap-4);
}

.ml-4 {
  margin-left: var(--gap-4);
}

.mr-4 {
  margin-right: var(--gap-4);
}

.mx-4 {
  margin-left: var(--gap-4);
  margin-right: var(--gap-4);
}

.my-4 {
  margin-top: var(--gap-4);
  margin-bottom: var(--gap-4);
}

.gap-5 {
  gap: var(--gap-5);
}

.p-5 {
  padding: var(--gap-5);
}

.pt-5 {
  padding-top: var(--gap-5);
}

.pb-5 {
  padding-bottom: var(--gap-5);
}

.pl-5 {
  padding-left: var(--gap-5);
}

.pr-5 {
  padding-right: var(--gap-5);
}

.px-5 {
  padding-left: var(--gap-5);
  padding-right: var(--gap-5);
}

.py-5 {
  padding-top: var(--gap-5);
  padding-bottom: var(--gap-5);
}

.m-5 {
  margin: var(--gap-5);
}

.mt-5 {
  margin-top: var(--gap-5);
}

.mb-5 {
  margin-bottom: var(--gap-5);
}

.ml-5 {
  margin-left: var(--gap-5);
}

.mr-5 {
  margin-right: var(--gap-5);
}

.mx-5 {
  margin-left: var(--gap-5);
  margin-right: var(--gap-5);
}

.my-5 {
  margin-top: var(--gap-5);
  margin-bottom: var(--gap-5);
}

.gap-6 {
  gap: var(--gap-6);
}

.p-6 {
  padding: var(--gap-6);
}

.pt-6 {
  padding-top: var(--gap-6);
}

.pb-6 {
  padding-bottom: var(--gap-6);
}

.pl-6 {
  padding-left: var(--gap-6);
}

.pr-6 {
  padding-right: var(--gap-6);
}

.px-6 {
  padding-left: var(--gap-6);
  padding-right: var(--gap-6);
}

.py-6 {
  padding-top: var(--gap-6);
  padding-bottom: var(--gap-6);
}

.m-6 {
  margin: var(--gap-6);
}

.mt-6 {
  margin-top: var(--gap-6);
}

.mb-6 {
  margin-bottom: var(--gap-6);
}

.ml-6 {
  margin-left: var(--gap-6);
}

.mr-6 {
  margin-right: var(--gap-6);
}

.mx-6 {
  margin-left: var(--gap-6);
  margin-right: var(--gap-6);
}

.my-6 {
  margin-top: var(--gap-6);
  margin-bottom: var(--gap-6);
}

.gap-7 {
  gap: var(--gap-7);
}

.p-7 {
  padding: var(--gap-7);
}

.pt-7 {
  padding-top: var(--gap-7);
}

.pb-7 {
  padding-bottom: var(--gap-7);
}

.pl-7 {
  padding-left: var(--gap-7);
}

.pr-7 {
  padding-right: var(--gap-7);
}

.px-7 {
  padding-left: var(--gap-7);
  padding-right: var(--gap-7);
}

.py-7 {
  padding-top: var(--gap-7);
  padding-bottom: var(--gap-7);
}

.m-7 {
  margin: var(--gap-7);
}

.mt-7 {
  margin-top: var(--gap-7);
}

.mb-7 {
  margin-bottom: var(--gap-7);
}

.ml-7 {
  margin-left: var(--gap-7);
}

.mr-7 {
  margin-right: var(--gap-7);
}

.mx-7 {
  margin-left: var(--gap-7);
  margin-right: var(--gap-7);
}

.my-7 {
  margin-top: var(--gap-7);
  margin-bottom: var(--gap-7);
}

.gap-8 {
  gap: var(--gap-8);
}

.p-8 {
  padding: var(--gap-8);
}

.pt-8 {
  padding-top: var(--gap-8);
}

.pb-8 {
  padding-bottom: var(--gap-8);
}

.pl-8 {
  padding-left: var(--gap-8);
}

.pr-8 {
  padding-right: var(--gap-8);
}

.px-8 {
  padding-left: var(--gap-8);
  padding-right: var(--gap-8);
}

.py-8 {
  padding-top: var(--gap-8);
  padding-bottom: var(--gap-8);
}

.m-8 {
  margin: var(--gap-8);
}

.mt-8 {
  margin-top: var(--gap-8);
}

.mb-8 {
  margin-bottom: var(--gap-8);
}

.ml-8 {
  margin-left: var(--gap-8);
}

.mr-8 {
  margin-right: var(--gap-8);
}

.mx-8 {
  margin-left: var(--gap-8);
  margin-right: var(--gap-8);
}

.my-8 {
  margin-top: var(--gap-8);
  margin-bottom: var(--gap-8);
}

.gap-9 {
  gap: var(--gap-9);
}

.p-9 {
  padding: var(--gap-9);
}

.pt-9 {
  padding-top: var(--gap-9);
}

.pb-9 {
  padding-bottom: var(--gap-9);
}

.pl-9 {
  padding-left: var(--gap-9);
}

.pr-9 {
  padding-right: var(--gap-9);
}

.px-9 {
  padding-left: var(--gap-9);
  padding-right: var(--gap-9);
}

.py-9 {
  padding-top: var(--gap-9);
  padding-bottom: var(--gap-9);
}

.m-9 {
  margin: var(--gap-9);
}

.mt-9 {
  margin-top: var(--gap-9);
}

.mb-9 {
  margin-bottom: var(--gap-9);
}

.ml-9 {
  margin-left: var(--gap-9);
}

.mr-9 {
  margin-right: var(--gap-9);
}

.mx-9 {
  margin-left: var(--gap-9);
  margin-right: var(--gap-9);
}

.my-9 {
  margin-top: var(--gap-9);
  margin-bottom: var(--gap-9);
}

.gap-10 {
  gap: var(--gap-10);
}

.p-10 {
  padding: var(--gap-10);
}

.pt-10 {
  padding-top: var(--gap-10);
}

.pb-10 {
  padding-bottom: var(--gap-10);
}

.pl-10 {
  padding-left: var(--gap-10);
}

.pr-10 {
  padding-right: var(--gap-10);
}

.px-10 {
  padding-left: var(--gap-10);
  padding-right: var(--gap-10);
}

.py-10 {
  padding-top: var(--gap-10);
  padding-bottom: var(--gap-10);
}

.m-10 {
  margin: var(--gap-10);
}

.mt-10 {
  margin-top: var(--gap-10);
}

.mb-10 {
  margin-bottom: var(--gap-10);
}

.ml-10 {
  margin-left: var(--gap-10);
}

.mr-10 {
  margin-right: var(--gap-10);
}

.mx-10 {
  margin-left: var(--gap-10);
  margin-right: var(--gap-10);
}

.my-10 {
  margin-top: var(--gap-10);
  margin-bottom: var(--gap-10);
}

.gap-auto {
  gap: var(--gap-auto);
}

.p-auto {
  padding: var(--gap-auto);
}

.pt-auto {
  padding-top: var(--gap-auto);
}

.pb-auto {
  padding-bottom: var(--gap-auto);
}

.pl-auto {
  padding-left: var(--gap-auto);
}

.pr-auto {
  padding-right: var(--gap-auto);
}

.px-auto {
  padding-left: var(--gap-auto);
  padding-right: var(--gap-auto);
}

.py-auto {
  padding-top: var(--gap-auto);
  padding-bottom: var(--gap-auto);
}

.m-auto {
  margin: var(--gap-auto);
}

.mt-auto {
  margin-top: var(--gap-auto);
}

.mb-auto {
  margin-bottom: var(--gap-auto);
}

.ml-auto {
  margin-left: var(--gap-auto);
}

.mr-auto {
  margin-right: var(--gap-auto);
}

.mx-auto {
  margin-left: var(--gap-auto);
  margin-right: var(--gap-auto);
}

.my-auto {
  margin-top: var(--gap-auto);
  margin-bottom: var(--gap-auto);
}

@media (min-width: 1295px) {
  .gap-xl-0 {
    gap: var(--gap-0);
  }
  .p-xl-0 {
    padding: var(--gap-0);
  }
  .pt-xl-0 {
    padding-top: var(--gap-0);
  }
  .pb-xl-0 {
    padding-bottom: var(--gap-0);
  }
  .pl-xl-0 {
    padding-left: var(--gap-0);
  }
  .pr-xl-0 {
    padding-right: var(--gap-0);
  }
  .px-xl-0 {
    padding-left: var(--gap-0);
    padding-right: var(--gap-0);
  }
  .py-xl-0 {
    padding-top: var(--gap-0);
    padding-bottom: var(--gap-0);
  }
  .m-xl-0 {
    margin: var(--gap-0);
  }
  .mt-xl-0 {
    margin-top: var(--gap-0);
  }
  .mb-xl-0 {
    margin-bottom: var(--gap-0);
  }
  .ml-xl-0 {
    margin-left: var(--gap-0);
  }
  .mr-xl-0 {
    margin-right: var(--gap-0);
  }
  .mx-xl-0 {
    margin-left: var(--gap-0);
    margin-right: var(--gap-0);
  }
  .my-xl-0 {
    margin-top: var(--gap-0);
    margin-bottom: var(--gap-0);
  }
  .gap-xl-1 {
    gap: var(--gap-1);
  }
  .p-xl-1 {
    padding: var(--gap-1);
  }
  .pt-xl-1 {
    padding-top: var(--gap-1);
  }
  .pb-xl-1 {
    padding-bottom: var(--gap-1);
  }
  .pl-xl-1 {
    padding-left: var(--gap-1);
  }
  .pr-xl-1 {
    padding-right: var(--gap-1);
  }
  .px-xl-1 {
    padding-left: var(--gap-1);
    padding-right: var(--gap-1);
  }
  .py-xl-1 {
    padding-top: var(--gap-1);
    padding-bottom: var(--gap-1);
  }
  .m-xl-1 {
    margin: var(--gap-1);
  }
  .mt-xl-1 {
    margin-top: var(--gap-1);
  }
  .mb-xl-1 {
    margin-bottom: var(--gap-1);
  }
  .ml-xl-1 {
    margin-left: var(--gap-1);
  }
  .mr-xl-1 {
    margin-right: var(--gap-1);
  }
  .mx-xl-1 {
    margin-left: var(--gap-1);
    margin-right: var(--gap-1);
  }
  .my-xl-1 {
    margin-top: var(--gap-1);
    margin-bottom: var(--gap-1);
  }
  .gap-xl-2 {
    gap: var(--gap-2);
  }
  .p-xl-2 {
    padding: var(--gap-2);
  }
  .pt-xl-2 {
    padding-top: var(--gap-2);
  }
  .pb-xl-2 {
    padding-bottom: var(--gap-2);
  }
  .pl-xl-2 {
    padding-left: var(--gap-2);
  }
  .pr-xl-2 {
    padding-right: var(--gap-2);
  }
  .px-xl-2 {
    padding-left: var(--gap-2);
    padding-right: var(--gap-2);
  }
  .py-xl-2 {
    padding-top: var(--gap-2);
    padding-bottom: var(--gap-2);
  }
  .m-xl-2 {
    margin: var(--gap-2);
  }
  .mt-xl-2 {
    margin-top: var(--gap-2);
  }
  .mb-xl-2 {
    margin-bottom: var(--gap-2);
  }
  .ml-xl-2 {
    margin-left: var(--gap-2);
  }
  .mr-xl-2 {
    margin-right: var(--gap-2);
  }
  .mx-xl-2 {
    margin-left: var(--gap-2);
    margin-right: var(--gap-2);
  }
  .my-xl-2 {
    margin-top: var(--gap-2);
    margin-bottom: var(--gap-2);
  }
  .gap-xl-3 {
    gap: var(--gap-3);
  }
  .p-xl-3 {
    padding: var(--gap-3);
  }
  .pt-xl-3 {
    padding-top: var(--gap-3);
  }
  .pb-xl-3 {
    padding-bottom: var(--gap-3);
  }
  .pl-xl-3 {
    padding-left: var(--gap-3);
  }
  .pr-xl-3 {
    padding-right: var(--gap-3);
  }
  .px-xl-3 {
    padding-left: var(--gap-3);
    padding-right: var(--gap-3);
  }
  .py-xl-3 {
    padding-top: var(--gap-3);
    padding-bottom: var(--gap-3);
  }
  .m-xl-3 {
    margin: var(--gap-3);
  }
  .mt-xl-3 {
    margin-top: var(--gap-3);
  }
  .mb-xl-3 {
    margin-bottom: var(--gap-3);
  }
  .ml-xl-3 {
    margin-left: var(--gap-3);
  }
  .mr-xl-3 {
    margin-right: var(--gap-3);
  }
  .mx-xl-3 {
    margin-left: var(--gap-3);
    margin-right: var(--gap-3);
  }
  .my-xl-3 {
    margin-top: var(--gap-3);
    margin-bottom: var(--gap-3);
  }
  .gap-xl-4 {
    gap: var(--gap-4);
  }
  .p-xl-4 {
    padding: var(--gap-4);
  }
  .pt-xl-4 {
    padding-top: var(--gap-4);
  }
  .pb-xl-4 {
    padding-bottom: var(--gap-4);
  }
  .pl-xl-4 {
    padding-left: var(--gap-4);
  }
  .pr-xl-4 {
    padding-right: var(--gap-4);
  }
  .px-xl-4 {
    padding-left: var(--gap-4);
    padding-right: var(--gap-4);
  }
  .py-xl-4 {
    padding-top: var(--gap-4);
    padding-bottom: var(--gap-4);
  }
  .m-xl-4 {
    margin: var(--gap-4);
  }
  .mt-xl-4 {
    margin-top: var(--gap-4);
  }
  .mb-xl-4 {
    margin-bottom: var(--gap-4);
  }
  .ml-xl-4 {
    margin-left: var(--gap-4);
  }
  .mr-xl-4 {
    margin-right: var(--gap-4);
  }
  .mx-xl-4 {
    margin-left: var(--gap-4);
    margin-right: var(--gap-4);
  }
  .my-xl-4 {
    margin-top: var(--gap-4);
    margin-bottom: var(--gap-4);
  }
  .gap-xl-5 {
    gap: var(--gap-5);
  }
  .p-xl-5 {
    padding: var(--gap-5);
  }
  .pt-xl-5 {
    padding-top: var(--gap-5);
  }
  .pb-xl-5 {
    padding-bottom: var(--gap-5);
  }
  .pl-xl-5 {
    padding-left: var(--gap-5);
  }
  .pr-xl-5 {
    padding-right: var(--gap-5);
  }
  .px-xl-5 {
    padding-left: var(--gap-5);
    padding-right: var(--gap-5);
  }
  .py-xl-5 {
    padding-top: var(--gap-5);
    padding-bottom: var(--gap-5);
  }
  .m-xl-5 {
    margin: var(--gap-5);
  }
  .mt-xl-5 {
    margin-top: var(--gap-5);
  }
  .mb-xl-5 {
    margin-bottom: var(--gap-5);
  }
  .ml-xl-5 {
    margin-left: var(--gap-5);
  }
  .mr-xl-5 {
    margin-right: var(--gap-5);
  }
  .mx-xl-5 {
    margin-left: var(--gap-5);
    margin-right: var(--gap-5);
  }
  .my-xl-5 {
    margin-top: var(--gap-5);
    margin-bottom: var(--gap-5);
  }
  .gap-xl-6 {
    gap: var(--gap-6);
  }
  .p-xl-6 {
    padding: var(--gap-6);
  }
  .pt-xl-6 {
    padding-top: var(--gap-6);
  }
  .pb-xl-6 {
    padding-bottom: var(--gap-6);
  }
  .pl-xl-6 {
    padding-left: var(--gap-6);
  }
  .pr-xl-6 {
    padding-right: var(--gap-6);
  }
  .px-xl-6 {
    padding-left: var(--gap-6);
    padding-right: var(--gap-6);
  }
  .py-xl-6 {
    padding-top: var(--gap-6);
    padding-bottom: var(--gap-6);
  }
  .m-xl-6 {
    margin: var(--gap-6);
  }
  .mt-xl-6 {
    margin-top: var(--gap-6);
  }
  .mb-xl-6 {
    margin-bottom: var(--gap-6);
  }
  .ml-xl-6 {
    margin-left: var(--gap-6);
  }
  .mr-xl-6 {
    margin-right: var(--gap-6);
  }
  .mx-xl-6 {
    margin-left: var(--gap-6);
    margin-right: var(--gap-6);
  }
  .my-xl-6 {
    margin-top: var(--gap-6);
    margin-bottom: var(--gap-6);
  }
  .gap-xl-7 {
    gap: var(--gap-7);
  }
  .p-xl-7 {
    padding: var(--gap-7);
  }
  .pt-xl-7 {
    padding-top: var(--gap-7);
  }
  .pb-xl-7 {
    padding-bottom: var(--gap-7);
  }
  .pl-xl-7 {
    padding-left: var(--gap-7);
  }
  .pr-xl-7 {
    padding-right: var(--gap-7);
  }
  .px-xl-7 {
    padding-left: var(--gap-7);
    padding-right: var(--gap-7);
  }
  .py-xl-7 {
    padding-top: var(--gap-7);
    padding-bottom: var(--gap-7);
  }
  .m-xl-7 {
    margin: var(--gap-7);
  }
  .mt-xl-7 {
    margin-top: var(--gap-7);
  }
  .mb-xl-7 {
    margin-bottom: var(--gap-7);
  }
  .ml-xl-7 {
    margin-left: var(--gap-7);
  }
  .mr-xl-7 {
    margin-right: var(--gap-7);
  }
  .mx-xl-7 {
    margin-left: var(--gap-7);
    margin-right: var(--gap-7);
  }
  .my-xl-7 {
    margin-top: var(--gap-7);
    margin-bottom: var(--gap-7);
  }
  .gap-xl-8 {
    gap: var(--gap-8);
  }
  .p-xl-8 {
    padding: var(--gap-8);
  }
  .pt-xl-8 {
    padding-top: var(--gap-8);
  }
  .pb-xl-8 {
    padding-bottom: var(--gap-8);
  }
  .pl-xl-8 {
    padding-left: var(--gap-8);
  }
  .pr-xl-8 {
    padding-right: var(--gap-8);
  }
  .px-xl-8 {
    padding-left: var(--gap-8);
    padding-right: var(--gap-8);
  }
  .py-xl-8 {
    padding-top: var(--gap-8);
    padding-bottom: var(--gap-8);
  }
  .m-xl-8 {
    margin: var(--gap-8);
  }
  .mt-xl-8 {
    margin-top: var(--gap-8);
  }
  .mb-xl-8 {
    margin-bottom: var(--gap-8);
  }
  .ml-xl-8 {
    margin-left: var(--gap-8);
  }
  .mr-xl-8 {
    margin-right: var(--gap-8);
  }
  .mx-xl-8 {
    margin-left: var(--gap-8);
    margin-right: var(--gap-8);
  }
  .my-xl-8 {
    margin-top: var(--gap-8);
    margin-bottom: var(--gap-8);
  }
  .gap-xl-9 {
    gap: var(--gap-9);
  }
  .p-xl-9 {
    padding: var(--gap-9);
  }
  .pt-xl-9 {
    padding-top: var(--gap-9);
  }
  .pb-xl-9 {
    padding-bottom: var(--gap-9);
  }
  .pl-xl-9 {
    padding-left: var(--gap-9);
  }
  .pr-xl-9 {
    padding-right: var(--gap-9);
  }
  .px-xl-9 {
    padding-left: var(--gap-9);
    padding-right: var(--gap-9);
  }
  .py-xl-9 {
    padding-top: var(--gap-9);
    padding-bottom: var(--gap-9);
  }
  .m-xl-9 {
    margin: var(--gap-9);
  }
  .mt-xl-9 {
    margin-top: var(--gap-9);
  }
  .mb-xl-9 {
    margin-bottom: var(--gap-9);
  }
  .ml-xl-9 {
    margin-left: var(--gap-9);
  }
  .mr-xl-9 {
    margin-right: var(--gap-9);
  }
  .mx-xl-9 {
    margin-left: var(--gap-9);
    margin-right: var(--gap-9);
  }
  .my-xl-9 {
    margin-top: var(--gap-9);
    margin-bottom: var(--gap-9);
  }
  .gap-xl-10 {
    gap: var(--gap-10);
  }
  .p-xl-10 {
    padding: var(--gap-10);
  }
  .pt-xl-10 {
    padding-top: var(--gap-10);
  }
  .pb-xl-10 {
    padding-bottom: var(--gap-10);
  }
  .pl-xl-10 {
    padding-left: var(--gap-10);
  }
  .pr-xl-10 {
    padding-right: var(--gap-10);
  }
  .px-xl-10 {
    padding-left: var(--gap-10);
    padding-right: var(--gap-10);
  }
  .py-xl-10 {
    padding-top: var(--gap-10);
    padding-bottom: var(--gap-10);
  }
  .m-xl-10 {
    margin: var(--gap-10);
  }
  .mt-xl-10 {
    margin-top: var(--gap-10);
  }
  .mb-xl-10 {
    margin-bottom: var(--gap-10);
  }
  .ml-xl-10 {
    margin-left: var(--gap-10);
  }
  .mr-xl-10 {
    margin-right: var(--gap-10);
  }
  .mx-xl-10 {
    margin-left: var(--gap-10);
    margin-right: var(--gap-10);
  }
  .my-xl-10 {
    margin-top: var(--gap-10);
    margin-bottom: var(--gap-10);
  }
  .gap-xl-auto {
    gap: var(--gap-auto);
  }
  .p-xl-auto {
    padding: var(--gap-auto);
  }
  .pt-xl-auto {
    padding-top: var(--gap-auto);
  }
  .pb-xl-auto {
    padding-bottom: var(--gap-auto);
  }
  .pl-xl-auto {
    padding-left: var(--gap-auto);
  }
  .pr-xl-auto {
    padding-right: var(--gap-auto);
  }
  .px-xl-auto {
    padding-left: var(--gap-auto);
    padding-right: var(--gap-auto);
  }
  .py-xl-auto {
    padding-top: var(--gap-auto);
    padding-bottom: var(--gap-auto);
  }
  .m-xl-auto {
    margin: var(--gap-auto);
  }
  .mt-xl-auto {
    margin-top: var(--gap-auto);
  }
  .mb-xl-auto {
    margin-bottom: var(--gap-auto);
  }
  .ml-xl-auto {
    margin-left: var(--gap-auto);
  }
  .mr-xl-auto {
    margin-right: var(--gap-auto);
  }
  .mx-xl-auto {
    margin-left: var(--gap-auto);
    margin-right: var(--gap-auto);
  }
  .my-xl-auto {
    margin-top: var(--gap-auto);
    margin-bottom: var(--gap-auto);
  }
}
.overflow-hidden {
  overflow: hidden;
}

.scroll-x {
  overflow-x: scroll;
  overflow-y: hidden;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

section, .banner .right {
  padding: var(--p-8) var(--p-3);
}
@media (min-width: 1295px) {
  section, .banner .right {
    padding: var(--p-10) var(--p-8);
  }
}

.flex {
  display: flex;
  gap: var(--gap-sm);
}

.row {
  display: flex;
  gap: calc(var(--gap) / 2);
  flex-wrap: wrap;
}

.w-100,
[class^=col-], [class*=col-] {
  width: 100%;
}

.col-1 {
  max-width: calc((100% - var(--gap) * 11) / 12 * 1 + var(--gap) * 0);
}

.col-2 {
  max-width: calc((100% - var(--gap) * 11) / 12 * 2 + var(--gap) * 1);
}

.col-3 {
  max-width: calc((100% - var(--gap) * 11) / 12 * 3 + var(--gap) * 2);
}

.col-4 {
  max-width: calc((100% - var(--gap) * 11) / 12 * 4 + var(--gap) * 3);
}

.col-5 {
  max-width: calc((100% - var(--gap) * 11) / 12 * 5 + var(--gap) * 4);
}

.col-6 {
  max-width: calc((100% - var(--gap) * 11) / 12 * 6 + var(--gap) * 5);
}

.col-7 {
  max-width: calc((100% - var(--gap) * 11) / 12 * 7 + var(--gap) * 6);
}

.col-8 {
  max-width: calc((100% - var(--gap) * 11) / 12 * 8 + var(--gap) * 7);
}

.col-9 {
  max-width: calc((100% - var(--gap) * 11) / 12 * 9 + var(--gap) * 8);
}

.col-10 {
  max-width: calc((100% - var(--gap) * 11) / 12 * 10 + var(--gap) * 9);
}

.col-11 {
  max-width: calc((100% - var(--gap) * 11) / 12 * 11 + var(--gap) * 10);
}

.col-12 {
  max-width: calc((100% - var(--gap) * 11) / 12 * 12 + var(--gap) * 11);
}

.jc-fs {
  justify-content: flex-start;
}

.jc-fe {
  justify-content: flex-end;
}

.jc-c {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.jc-se {
  justify-content: space-evenly;
}

.ai-fs {
  align-items: flex-start;
}

.ai-fe {
  align-items: flex-end;
}

.ai-c {
  align-items: center;
}

.ai-b {
  align-items: baseline;
}

.ai-s {
  align-items: stretch;
}

@media (min-width: 1295px) {
  .overflow-xl-hidden {
    overflow: hidden;
  }
  .scroll-xl-x {
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .col-xl-1 {
    max-width: calc((100% - var(--gap) * 11) / 12 * 1 + var(--gap) * 0);
  }
  .col-xl-2 {
    max-width: calc((100% - var(--gap) * 11) / 12 * 2 + var(--gap) * 1);
  }
  .col-xl-3 {
    max-width: calc((100% - var(--gap) * 11) / 12 * 3 + var(--gap) * 2);
  }
  .col-xl-4 {
    max-width: calc((100% - var(--gap) * 11) / 12 * 4 + var(--gap) * 3);
  }
  .col-xl-5 {
    max-width: calc((100% - var(--gap) * 11) / 12 * 5 + var(--gap) * 4);
  }
  .col-xl-6 {
    max-width: calc((100% - var(--gap) * 11) / 12 * 6 + var(--gap) * 5);
  }
  .col-xl-7 {
    max-width: calc((100% - var(--gap) * 11) / 12 * 7 + var(--gap) * 6);
  }
  .col-xl-8 {
    max-width: calc((100% - var(--gap) * 11) / 12 * 8 + var(--gap) * 7);
  }
  .col-xl-9 {
    max-width: calc((100% - var(--gap) * 11) / 12 * 9 + var(--gap) * 8);
  }
  .col-xl-10 {
    max-width: calc((100% - var(--gap) * 11) / 12 * 10 + var(--gap) * 9);
  }
  .col-xl-11 {
    max-width: calc((100% - var(--gap) * 11) / 12 * 11 + var(--gap) * 10);
  }
  .col-xl-12 {
    max-width: calc((100% - var(--gap) * 11) / 12 * 12 + var(--gap) * 11);
  }
  .jc-xl-fs {
    justify-content: flex-start;
  }
  .jc-xl-fe {
    justify-content: flex-end;
  }
  .jc-xl-c {
    justify-content: center;
  }
  .jc-xl-sb {
    justify-content: space-between;
  }
  .jc-xl-sa {
    justify-content: space-around;
  }
  .jc-xl-se {
    justify-content: space-evenly;
  }
  .ai-xl-fs {
    align-items: flex-start;
  }
  .ai-xl-fe {
    align-items: flex-end;
  }
  .ai-xl-c {
    align-items: center;
  }
  .ai-xl-b {
    align-items: baseline;
  }
  .ai-xl-s {
    align-items: stretch;
  }
}
/* －－－以上為 grid 等相關容器樣式 */
/* 以下爲 font樣式 */
:root {
  --display-1: 300px;
  --display-2: 160px;
  --heading-xxxlg: 80px;
  --heading-xxlg: 48px;
  --heading-xlg: 40px;
  --heading-lg: 32px;
  --heading-md: 28px;
  --heading-sm: 24px;
  --heading-xsm: 20px;
  --heading-xxsm: 18px;
  --heading-xxxsm: 16px;
  --heading-xxxxsm: 14px;
  --label-md: 16px;
  --label-sm: 14px;
  --label-xsm: 13px;
  --paragraph-md: 16px;
  --paragraph-sm: 14px;
  --paragraph-xsm: 13px;
}

body {
  font-family: "Noto Sans", sans-serif;
}

/* google icon 預設設定 */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: inherit;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.display-2, .display-1 {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0%;
}

.heading-xlg, .heading-xxlg, .heading-xxxlg {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 2%;
}

.heading-xxxxsm, .heading-xxxsm, .heading-xxsm, .heading-xsm, .projects .project-card .card-content .card-title, .heading-sm, .heading-md, .heading-lg {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 2%;
}

.paragraph-xsm, .projects .project-card .card-content time, .paragraph-sm, .projects .project-card .card-content, .paragraph-md, .label-xsm, .label-sm, .label-md {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 2%;
}

.display-1 {
  font-size: var(--display-1);
}

.display-2 {
  font-size: var(--display-2);
}

.heading-xxxlg {
  font-size: var(--heading-xxxlg);
}

.heading-xxlg {
  font-size: var(--heading-xxlg);
}

.heading-xlg {
  font-size: var(--heading-xlg);
}

.heading-lg {
  font-size: var(--heading-lg);
}

.heading-md {
  font-size: var(--heading-md);
}

.heading-sm {
  font-size: var(--heading-sm);
}

.heading-xsm, .projects .project-card .card-content .card-title {
  font-size: var(--heading-xsm);
}

.heading-xxsm {
  font-size: var(--heading-xxsm);
}

.heading-xxxsm {
  font-size: var(--heading-xxxsm);
}

.heading-xxxxsm {
  font-size: var(--heading-xxxxsm);
}

.label-md {
  font-size: var(--label-md);
}

.label-sm {
  font-size: var(--label-sm);
}

.label-xsm {
  font-size: var(--label-xsm);
}

.paragraph-md {
  font-size: var(--paragraph-md);
}

.paragraph-sm, .projects .project-card .card-content {
  font-size: var(--paragraph-sm);
}

.paragraph-xsm, .projects .project-card .card-content time {
  font-size: var(--paragraph-xsm);
}

@media (min-width: 1295px) {
  .text-xl-center {
    text-align: center;
  }
  .text-xl-left {
    text-align: left;
  }
  .text-xl-right {
    text-align: right;
  }
  .display-xl-2, .display-xl-1 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0%;
  }
  .heading-xl-xlg, .heading-xl-xxlg, .heading-xl-xxxlg {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 2%;
  }
  .heading-xl-xxxxsm, .heading-xl-xxxsm, .heading-xl-xxsm, .heading-xl-xsm, .heading-xl-sm, .projects .project-card .card-content .card-title, .heading-xl-md, .heading-xl-lg {
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 2%;
  }
  .paragraph-xl-xsm, .paragraph-xl-sm, .projects .project-card .card-content time, .paragraph-xl-md, .projects .project-card .card-content, .label-xl-xsm, .label-xl-sm, .label-xl-md {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 2%;
  }
  .display-xl-1 {
    font-size: var(--display-1);
  }
  .display-xl-2 {
    font-size: var(--display-2);
  }
  .heading-xl-xxxlg {
    font-size: var(--heading-xxxlg);
  }
  .heading-xl-xxlg {
    font-size: var(--heading-xxlg);
  }
  .heading-xl-xlg {
    font-size: var(--heading-xlg);
  }
  .heading-xl-lg {
    font-size: var(--heading-lg);
  }
  .heading-xl-md {
    font-size: var(--heading-md);
  }
  .heading-xl-sm, .projects .project-card .card-content .card-title {
    font-size: var(--heading-sm);
  }
  .heading-xl-xsm {
    font-size: var(--heading-xsm);
  }
  .heading-xl-xxsm {
    font-size: var(--heading-xxsm);
  }
  .heading-xl-xxxsm {
    font-size: var(--heading-xxxsm);
  }
  .heading-xl-xxxxsm {
    font-size: var(--heading-xxxxsm);
  }
  .label-xl-md {
    font-size: var(--label-md);
  }
  .label-xl-sm {
    font-size: var(--label-sm);
  }
  .label-xl-xsm {
    font-size: var(--label-xsm);
  }
  .paragraph-xl-md, .projects .project-card .card-content {
    font-size: var(--paragraph-md);
  }
  .paragraph-xl-sm, .projects .project-card .card-content time {
    font-size: var(--paragraph-sm);
  }
  .paragraph-xl-xsm {
    font-size: var(--paragraph-xsm);
  }
}
/* －－－以上為 font樣式 */
/* 以上為 Link btn border...操作類樣式 */
.btn, .btn-outline, .btn-neutral, .btn-primary, .btn-white, button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 9999px;
  text-align: center;
  text-decoration: none;
  gap: var(--gap-2);
  padding: var(--gap-3) var(--gap-5);
  color: var(--color-neutral-0);
  background-color: var(--color-neutral-700);
  font-size: var(--label-sm);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 2%;
}
.btn .hover, .btn-outline .hover, .btn-neutral .hover, .btn-primary .hover, .btn-white .hover, .btn .active, .btn-outline .active, .btn-neutral .active, .btn-primary .active, .btn-white .active, .btn:hover, .btn-outline:hover, .btn-neutral:hover, .btn-primary:hover, .btn-white:hover, .btn:active, .btn-outline:active, .btn-neutral:active, .btn-primary:active, .btn-white:active, button .hover, button .active, button:hover, button:active {
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: var(--color-neutral-900);
  color: var(--color-neutral-0);
}

@media (min-width: 1295px) {
  .btn, .btn-outline, .btn-neutral, .btn-primary, .btn-white {
    font-size: var(--label-md);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 2%;
  }
}
.btn-white {
  padding: var(--gap-3) var(--gap-5);
  color: var(--color-neutral-700);
  background-color: var(--color-neutral-0);
  font-size: var(--label-sm);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 2%;
}
.btn-white .hover, .btn-white .active, .btn-white:hover, .btn-white:active {
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: var(--color-primary-50);
  color: var(--color-neutral-700);
}

@media (min-width: 1295px) {
  .btn-white {
    padding: var(--gap-3) var(--gap-6);
    color: var(--color-neutral-700);
    background-color: var(--color-neutral-0);
    font-size: var(--label-md);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 2%;
  }
  .btn-white .hover, .btn-white .active, .btn-white:hover, .btn-white:active {
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: var(--color-primary-50);
    color: var(--color-neutral-700);
  }
}
.btn-primary {
  padding: var(--gap-3) var(--gap-5);
  color: var(--color-neutral-0);
  background-color: var(--color-primary-900);
  font-size: var(--label-sm);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 2%;
}
.btn-primary .hover, .btn-primary .active, .btn-primary:hover, .btn-primary:active {
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: var(--color-neutral-900);
  color: var(--color-neutral-0);
}

@media (min-width: 1295px) {
  .btn-primary {
    padding: var(--gap-3) var(--gap-6);
    color: var(--color-neutral-0);
    background-color: var(--color-primary-900);
    font-size: var(--label-md);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 2%;
  }
  .btn-primary .hover, .btn-primary .active, .btn-primary:hover, .btn-primary:active {
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: var(--color-neutral-900);
    color: var(--color-neutral-0);
  }
}
.btn-neutral {
  padding: var(--gap-3) var(--gap-5);
  color: var(--color-neutral-0);
  background-color: var(--color-neutral-700);
  font-size: var(--label-sm);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 2%;
}
.btn-neutral .hover, .btn-neutral .active, .btn-neutral:hover, .btn-neutral:active {
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: var(--color-neutral-900);
  color: var(--color-neutral-0);
}

@media (min-width: 1295px) {
  .btn-neutral {
    padding: var(--gap-3) var(--gap-6);
    color: var(--color-neutral-0);
    background-color: var(--color-neutral-700);
    font-size: var(--label-md);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 2%;
  }
  .btn-neutral .hover, .btn-neutral .active, .btn-neutral:hover, .btn-neutral:active {
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: var(--color-neutral-900);
    color: var(--color-neutral-0);
  }
}
.btn-outline {
  padding: var(--gap-3) var(--gap-5);
  color: var(--color-neutral-700);
  background-color: transparent;
  font-size: var(--label-sm);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 2%;
}
.btn-outline .hover, .btn-outline .active, .btn-outline:hover, .btn-outline:active {
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: var(--color-primary-500);
  color: var(--color-neutral-700);
}
.btn-outline {
  border: var(--border-width) solid var(--color-neutral-700);
}

@media (min-width: 1295px) {
  .btn-outline {
    padding: var(--gap-3) var(--gap-6);
    color: var(--color-neutral-700);
    background-color: transparent;
    font-size: var(--label-md);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 2%;
  }
  .btn-outline .hover, .btn-outline .active, .btn-outline:hover, .btn-outline:active {
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: var(--color-primary-500);
    color: var(--color-neutral-700);
  }
  .btn-outline {
    border: var(--border-width) solid var(--color-neutral-700);
  }
}
:root {
  --border-0: none;
  --border-width: 1px;
}

.border, .border-outline, .border-neutral, .border-primary, .border-white {
  border: 1px solid;
}

.border-0 {
  border: var(--border-0);
}

.border-t {
  border: 1px solid transparent;
}

.border-white {
  border-color: var(--color-neutral-0);
}

.border-primary {
  border-color: var(--color-primary-900);
}

.border-neutral {
  border-color: var(--color-neutral-700);
}

.border-outline {
  border-color: transparent;
}

/* －－－以上為 Link btn border...操作類樣式 */
/* 以下為一些全局的樣式，包含一些常用的 class */
/* 操作類型 */
:root {
  --TF-radius: 32px;
}

.label + .label::before {
  content: "．";
}

/* text field */
.text-field {
  display: block;
  border-radius: var(--TF-radius);
  border: var(--border-width) solid var(--color-neutral-0);
  padding: calc(8px - var(--border-width));
  color: var(--color-neutral-0);
  display: flex;
  gap: var(--gap-2);
  justify-content: space-between;
  align-items: center;
}
.text-field input {
  border-radius: var(--TF-radius);
  background: inherit;
  border: none;
  color: inherit;
  padding: var(--p-2) var(--p-3);
  gap: var(--gap-2);
}
.text-field input:focus {
  outline: none;
}
.text-field input::-moz-placeholder {
  color: inherit;
}
.text-field input::placeholder {
  color: inherit;
}
.text-field input {
  flex: auto;
  font-size: var(--paragraph-sm);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 2%;
}
.text-field button {
  font-size: var(--label-sm);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 2%;
  padding: var(--p-3) var(--p-5);
}
@media (min-width: 1295px) {
  .text-field input {
    font-size: var(--paragraph-md);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 2%;
    padding: var(--p-3) var(--p-6);
  }
  .text-field button {
    font-size: var(--label-md);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 2%;
    padding: var(--p-3) var(--p-6);
  }
}

/* Display 展示類 */
.logo {
  width: 140px;
  height: 40%;
}

@media (min-width: 1295px) {
  .logo {
    width: 112px;
    height: 32px;
  }
}
/* Banner */
.banner {
  color: var(--color-neutral-0);
  background-color: var(--color-dark-60a);
  background: linear-gradient(var(--color-dark-60a), var(--color-dark-60a)), url("../img/mobile/subscription_bg.png") center/cover no-repeat;
}
.banner .banner-img {
  width: 100%;
  min-height: 320px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (min-width: 1295px) {
  .banner {
    padding: 0px;
    background: linear-gradient(var(--color-dark-60a), var(--color-dark-60a)), url("../img/subscription_bg.png") center/cover no-repeat;
  }
  .banner .banner-img {
    min-height: 440px;
  }
  .banner .right {
    padding: var(--p-10) var(--p-8);
  }
}
/* SERVICES */
.services .service-card {
  width: 260px;
  height: 133px;
  padding: var(--p-3);
  gap: var(--gap-2);
  background-color: var(--color-primary-50);
  color: var(--color-neutral-700);
  font-size: var(--paragraph-sm);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 2%;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}
.services .service-card .card-title {
  font-size: var(--heading-xxxxsm);
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 2%;
}
.services .service-card .card-title span {
  font-size: var(--heading-sm);
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 2%;
  display: block;
}
.services .service-card .card-title + .material-symbols-outlined {
  margin-left: auto;
  font-size: 24px;
}
.services .service-card .bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: var(--gap-2);
  width: 100%;
}
.services .service-card .bottom .card-description {
  max-width: 184px;
  font-size: var(--paragraph-sm);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 2%;
}
.services .service-card .bottom .btn {
  font-size: 20px;
  padding: var(--p-3);
}
@media (min-width: 1295px) {
  .services .service-card {
    width: 306px;
    height: 174px;
    padding: var(--p-6);
    gap: var(--gap-3);
  }
  .services .service-card .card-title {
    font-size: var(--heading-xxxsm);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 2%;
  }
  .services .service-card .card-title span {
    font-size: var(--heading-md);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 2%;
  }
  .services .service-card .card-title + .material-symbols-outlined {
    font-size: 28px;
  }
  .services .service-card .bottom {
    gap: var(--gap-3);
  }
  .services .service-card .bottom .card-description {
    max-width: 198px;
    font-size: var(--paragraph-md);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 2%;
  }
  .services .service-card .bottom .btn {
    font-size: 24px;
  }
}

/* project */
.projects ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--gap-3);
}
.projects .project-card {
  display: flex;
  justify-content: start;
  align-items: flex-end;
  width: 100%;
  max-width: 351px;
  min-height: 580px;
  padding: var(--p-4);
  gap: var(--gap-3);
  background: url(../img/mobile/project_1.png) center/cover no-repeat;
  color: var(--color-neutral-700);
}
.projects .project-card .card-content {
  background-color: var(--color-primary-50);
  text-align: center;
  min-height: 284px;
  padding: var(--p-6);
  gap: var(--gap-3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1295px) {
  .projects .project-card {
    max-width: 100%;
    min-height: 397px;
    padding: var(--p-7);
    gap: var(--gap-6);
    align-items: stretch;
    background-image: url(../img/project_1.png);
  }
  .projects .project-card .card-content {
    padding: var(--p-8);
  }
}

/* Blog card */
.blog {
  gap: var(--gap-6);
}
.blog .blog-card {
  min-width: 260px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-2);
}
.blog .blog-card .blog-img {
  width: 100%;
  min-height: 148.15px;
  position: relative;
  overflow: hidden;
}
.blog .blog-card .blog-img::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  transform-origin: translate(50%, 50%);
  background: linear-gradient(var(--color-dark-40a), var(--color-dark-40a)) center/cover no-repeat;
}
.blog .blog-card:hover .blog-img::before {
  transform: scale(150%);
  filter: blur(2px);
  opacity: 0.6;
}
.blog .blog-card .card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-2);
}
.blog .blog-card .card-content .card-title {
  font-size: var(--heading-xsm);
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 2%;
}
.blog .blog-card .card-content .label {
  font-size: var(--paragraph-sm);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 2%;
}
.blog .blog-card .card-content time, .blog .blog-card .card-content u {
  font-size: var(--paragraph-xsm);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 2%;
}
.blog .blog-card .card-content .post-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-2);
}
.blog .blog-card .card-content .post-meta time {
  margin-right: auto;
}
.blog .blog-card .card-content .post-meta u {
  display: inline-flex;
  gap: var(--gap-1);
  justify-content: center;
  align-items: center;
}
.blog .blog-card .card-content .post-meta .material-symbols-outlined {
  font-size: 20px;
}
@media (min-width: 1295px) {
  .blog .blog-card {
    gap: var(--gap-3);
  }
  .blog .blog-card .blog-img {
    min-height: 240px;
  }
  .blog .blog-card .card-content {
    gap: var(--gap-3);
  }
  .blog .blog-card .card-content .card-title {
    font-size: var(--heading-sm);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 2%;
  }
  .blog .blog-card .card-content .label {
    font-size: var(--paragraph-md);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 2%;
  }
  .blog .blog-card .card-content time, .blog .blog-card .card-content u {
    font-size: var(--paragraph-sm);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 2%;
  }
}

/* index.scss */
.projects ul .project-card:nth-child(1) {
  background-image: url(../img/mobile/project_1.png);
}
.projects ul .project-card:nth-child(2) {
  background-image: url(../img/mobile/project_2.png);
}
.projects ul .project-card:nth-child(3) {
  background-image: url(../img/mobile/project_3.png);
}

.blog li:nth-child(2) .blog-img::before {
  background-image: url(../img/blog_4.png);
}
.blog li:nth-child(1) .blog-img::before {
  background-image: url(../img/blog_2.png);
}
.blog li:nth-child(3) .blog-img::before {
  background-image: url(../img/blog_5.png);
}

@media (min-width: 1295px) {
  .projects ul .project-card:nth-child(1) {
    background-image: url(../img/project_1.png);
  }
  .projects ul .project-card:nth-child(2) {
    background-image: url(../img/project_2.png);
  }
  .projects ul .project-card:nth-child(3) {
    background-image: url(../img/project_3.png);
  }
}/*# sourceMappingURL=all.css.map */