@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 以上為reset.css的內容，以下為自定義的樣式 */
*, *::before, *::after {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  min-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
}

:root {
  /* 颜色系统 */
  --color-primary-50: #FDF7F1;
  --color-primary-100: #FDE6CF;
  --color-primary-500:#F5B87B;
  --color-primary-900:#24140B;
  --color-neutral-0:#FFFFFF;
  --color-neutral-500:#737373;
  --color-neutral-700:#404040;
  --color-neutral-900:#1E1E1E;
  --color-dark-40a: rgba(0, 0, 0, 0.4);
  --color-dark-60a: rgba(0, 0, 0, 0.6);
  /*  文字系统 */
  --line-height: 1.5;
  --line-height-sm: 1.2;
  --font-weight-regular:500;
  --font-weight-bold: 700;
  /* grid */
  --gap:24px;
}

.bg-primary {
  background-color: var(--color-primary-900);
  color: var(--color-neutral-0);
}

.contenter {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--gap) / 2);
}

.col-1 {
  width: calc((100% - var(--gap) * 11) / 12 * 1 + var(--gap) * 0);
}

.col-2 {
  width: calc((100% - var(--gap) * 11) / 12 * 2 + var(--gap) * 1);
}

.col-3 {
  width: calc((100% - var(--gap) * 11) / 12 * 3 + var(--gap) * 2);
}

.col-4 {
  width: calc((100% - var(--gap) * 11) / 12 * 4 + var(--gap) * 3);
}

.col-5 {
  width: calc((100% - var(--gap) * 11) / 12 * 5 + var(--gap) * 4);
}

.col-6 {
  width: calc((100% - var(--gap) * 11) / 12 * 6 + var(--gap) * 5);
}

.col-7 {
  width: calc((100% - var(--gap) * 11) / 12 * 7 + var(--gap) * 6);
}

.col-8 {
  width: calc((100% - var(--gap) * 11) / 12 * 8 + var(--gap) * 7);
}

.col-9 {
  width: calc((100% - var(--gap) * 11) / 12 * 9 + var(--gap) * 8);
}

.col-10 {
  width: calc((100% - var(--gap) * 11) / 12 * 10 + var(--gap) * 9);
}

.col-11 {
  width: calc((100% - var(--gap) * 11) / 12 * 11 + var(--gap) * 10);
}

.col-12 {
  width: calc((100% - var(--gap) * 11) / 12 * 12 + var(--gap) * 11);
}

@media (min-width: 1296px) {
  .contenter {
    padding: 0;
  }
  :root {
    --gap: 12px;
  }
  .col-sm-1 {
    width: calc((100% - var(--gap) * 11) / 12 * 1 + var(--gap) * 0);
  }
  .col-sm-2 {
    width: calc((100% - var(--gap) * 11) / 12 * 2 + var(--gap) * 1);
  }
  .col-sm-3 {
    width: calc((100% - var(--gap) * 11) / 12 * 3 + var(--gap) * 2);
  }
  .col-sm-4 {
    width: calc((100% - var(--gap) * 11) / 12 * 4 + var(--gap) * 3);
  }
  .col-sm-5 {
    width: calc((100% - var(--gap) * 11) / 12 * 5 + var(--gap) * 4);
  }
  .col-sm-6 {
    width: calc((100% - var(--gap) * 11) / 12 * 6 + var(--gap) * 5);
  }
  .col-sm-7 {
    width: calc((100% - var(--gap) * 11) / 12 * 7 + var(--gap) * 6);
  }
  .col-sm-8 {
    width: calc((100% - var(--gap) * 11) / 12 * 8 + var(--gap) * 7);
  }
  .col-sm-9 {
    width: calc((100% - var(--gap) * 11) / 12 * 9 + var(--gap) * 8);
  }
  .col-sm-10 {
    width: calc((100% - var(--gap) * 11) / 12 * 10 + var(--gap) * 9);
  }
  .col-sm-11 {
    width: calc((100% - var(--gap) * 11) / 12 * 11 + var(--gap) * 10);
  }
  .col-sm-12 {
    width: calc((100% - var(--gap) * 11) / 12 * 12 + var(--gap) * 11);
  }
}
.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.jcsa {
  justify-content: space-around;
}

.jcfe {
  justify-content: flex-end;
}

.jcfs {
  justify-content: flex-start;
}

.aic {
  align-items: center;
}

/* 操作類*/
.btn-md, .btn-lg, .btn-neutral, .btn-primary-md, .btn-primary-lg, .btn-primary, .btn-white-md, .btn-white-lg, .btn-white, .text-field .input-text-md + .btn-white, .text-field .input-text-lg + .btn-white, .btn {
  display: inline-block;
  border-radius: 999px;
  color: var(--color-neutral-0);
}

.btn-md:hover, .btn-lg:hover, .btn-neutral:hover, .btn-primary-md:hover, .btn-primary-lg:hover, .btn-primary:hover, .btn-white-md:hover, .btn-white-lg:hover, .btn-white:hover, .text-field .input-text-md + .btn-white:hover, .text-field .input-text-lg + .btn-white:hover, .btn:hover {
  transition: all 0.3s ease;
}

.btn {
  background: var(--color-neutral-700);
}
.btn.material-symbols-outlined {
  padding: 12px;
}

.btn:hover {
  background-color: var(--color-neutral-900);
}

.btn-white, .text-field .input-text-md + .btn-white, .text-field .input-text-lg + .btn-white {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-700);
}
.btn-white.material-symbols-outlined, .text-field .input-text-md + .material-symbols-outlined.btn-white, .text-field .input-text-lg + .material-symbols-outlined.btn-white {
  padding: 12px;
}

.btn-white:hover, .text-field .input-text-md + .btn-white:hover, .text-field .input-text-lg + .btn-white:hover {
  background-color: var(--color-primary-50);
}

.btn-white-lg {
  padding: 0.75em 1.5em;
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-700);
  gap: 8px;
}

.btn-white-lg:hover {
  background-color: var(--color-primary-50);
}

.btn-white-md {
  padding: 12px 20px;
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-700);
  gap: 8px;
}

.btn-white-md:hover {
  background-color: var(--color-primary-50);
}

.btn-primary {
  background-color: var(--color-primary-900);
}
.btn-primary.material-symbols-outlined {
  padding: 12px;
}

.btn-primary:hover {
  background-color: var(--color-neutral-900);
}

.btn-primary-lg {
  padding: 0.75em 1.5em;
  background-color: var(--color-primary-900);
  gap: 8px;
}

.btn-primary-lg:hover {
  background-color: var(--color-neutral-900);
}

.btn-primary-md {
  padding: 12px 20px;
  background-color: var(--color-primary-900);
  gap: 8px;
}

.btn-primary-md:hover {
  background-color: var(--color-neutral-900);
}

.btn-neutral {
  background-color: var(--color-neutral-700);
}
.btn-neutral.material-symbols-outlined {
  padding: 12px;
}

.btn-neutral:hover {
  background-color: var(--color-neutral-900);
}

.btn-lg {
  padding: 0.75em 1.5em;
  background-color: var(--color-neutral-700);
  gap: 8px;
}

.btn-lg:hover {
  background-color: var(--color-neutral-900);
}

.btn-md {
  padding: 12px 20px;
  background-color: var(--color-neutral-700);
  gap: 8px;
}

.btn-md:hover {
  background-color: var(--color-neutral-900);
}

.border, .text-field, .border-hover:hover {
  border: 1px solid;
}

/* 文字樣式 */
body {
  font-family: "Noto Sans", sans-serif;
  color: var(--color-neutral-500);
  line-height: var(--line-height);
}

.heading-xlg, .heading-xxlg, .heading-xxxlg, .display-2, .display-1 {
  font-weight: var(--font-weight-bold, 700);
  line-height: var(--line-height-sm, 1.2);
  letter-spacing: 0%;
}

.heading-xxxxsm, .heading-xxxsm, .heading-xxsm, .heading-xsm, .heading-sm, .heading-md, .heading-lg {
  font-weight: var(--font-weight-bold, 700);
  line-height: var(--line-height, 1.5);
}

.paragraph-xsm, .paragraph-sm, .text-field .input-text-md, .paragraph-md, .text-field .input-text-lg, .label-xsm, .label-sm, .text-field .input-text-md + .btn-white, .btn-white-md, .btn-primary-md, .btn-md, .label-md, .text-field .input-text-lg + .btn-white, .btn-white-lg, .btn-primary-lg, .btn-lg {
  font-weight: var(--font-weight-regular, 500);
  line-height: var(--line-height, 1.5);
}

.display-1 {
  font-size: 300px;
}

.display-2 {
  font-size: 160px;
}

.heading-xxxlg {
  font-size: 80px;
}

.heading-xxlg {
  font-size: 48px;
}

.heading-xlg {
  font-size: 40px;
}

.heading-lg {
  font-size: 32px;
}

.heading-md {
  font-size: 28px;
}

.heading-sm {
  font-size: 24px;
}

.heading-xsm {
  font-size: 20px;
}

.heading-xxsm {
  font-size: 18px;
}

.heading-xxxsm {
  font-size: 16px;
}

.heading-xxxxsm {
  font-size: 14px;
}

.label-md, .text-field .input-text-lg + .btn-white, .btn-white-lg, .btn-primary-lg, .btn-lg {
  font-size: 16px;
}

.label-sm, .text-field .input-text-md + .btn-white, .btn-white-md, .btn-primary-md, .btn-md {
  font-size: 14px;
}

.label-xsm {
  font-size: 13px;
}

.paragraph-md, .text-field .input-text-lg {
  font-size: 16px;
}

.paragraph-sm, .text-field .input-text-md {
  font-size: 14px;
}

.paragraph-xsm {
  font-size: 13px;
}

/* google icon 預設設定 */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 12px;
}

/* text field */
.text-field {
  display: block;
  border-radius: 40px;
  padding: 7px;
  color: var(--color-neutral-0);
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
}
.text-field * {
  padding: 12px 24px;
}
.text-field .input-text-lg {
  flex: auto;
}
.text-field .input-text-md {
  flex: auto;
  padding: 8px 12px;
}
.text-field .input-text-md + .btn-white {
  padding: 12px 20px;
}/*# sourceMappingURL=all.css.map */