@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, .banner .right, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, .banner .right {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 以上為reset.css的內容，以下為自定義的樣式 */
*, *::before, *::after {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  min-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
}

:root {
  /* 颜色系统 */
  --color-primary-50: #FDF7F1;
  --color-primary-100: #FDE6CF;
  --color-primary-500:#F5B87B;
  --color-primary-900:#24140B;
  --color-neutral-0:#FFFFFF;
  --color-neutral-500:#737373;
  --color-neutral-700:#404040;
  --color-neutral-900:#1E1E1E;
  --color-dark-40a: rgba(0, 0, 0, 0.4);
  --color-dark-60a: rgba(0, 0, 0, 0.6);
  /* 文字尺寸 */
  --display-1: 300px;
  --display-2: 160px;
  --heading-xxxlg: 80px;
  --heading-xxlg: 48px;
  --heading-xlg: 40px;
  --heading-lg: 32px;
  --heading-md: 28px;
  --heading-sm: 24px;
  --heading-xsm: 20px;
  --heading-xxsm: 18px;
  --heading-xxxsm: 16px;
  --heading-xxxxsm: 14px;
  --lable-md: 16px;
  --lable-sm: 14px;
  --lable-xsm: 13px;
  --paragraph-md: 16px;
  --paragraph-sm: 14px;
  --paragraph-xsm: 13px;
  /* grid */
  --gap:24px;
}

.bg-primary {
  background-color: var(--color-primary-900);
  color: var(--color-neutral-0);
}

.overflow-hidden {
  overflow: hidden;
}

.scroll-x {
  max-width: 100%;
  overflow-x: auto;
}

section, .banner .right {
  padding: 40px 12px;
}
@media (min-width: 1296px) {
  section, .banner .right {
    padding: 80px 40px;
  }
}

.container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 12px;
}

.flex {
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--gap) / 2);
}

[class^=col] {
  width: 100%;
}

.col-1 {
  max-width: calc((100% - var(--gap) * 11) / 12 * 1 + var(--gap) * 0);
}

.col-2 {
  max-width: calc((100% - var(--gap) * 11) / 12 * 2 + var(--gap) * 1);
}

.col-3 {
  max-width: calc((100% - var(--gap) * 11) / 12 * 3 + var(--gap) * 2);
}

.col-4 {
  max-width: calc((100% - var(--gap) * 11) / 12 * 4 + var(--gap) * 3);
}

.col-5 {
  max-width: calc((100% - var(--gap) * 11) / 12 * 5 + var(--gap) * 4);
}

.col-6 {
  max-width: calc((100% - var(--gap) * 11) / 12 * 6 + var(--gap) * 5);
}

.col-7 {
  max-width: calc((100% - var(--gap) * 11) / 12 * 7 + var(--gap) * 6);
}

.col-8 {
  max-width: calc((100% - var(--gap) * 11) / 12 * 8 + var(--gap) * 7);
}

.col-9 {
  max-width: calc((100% - var(--gap) * 11) / 12 * 9 + var(--gap) * 8);
}

.col-10 {
  max-width: calc((100% - var(--gap) * 11) / 12 * 10 + var(--gap) * 9);
}

.col-11 {
  max-width: calc((100% - var(--gap) * 11) / 12 * 11 + var(--gap) * 10);
}

.col-12 {
  max-width: calc((100% - var(--gap) * 11) / 12 * 12 + var(--gap) * 11);
}

.jcfs {
  justify-content: flex-start;
}

.jcfe {
  justify-content: flex-end;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.jcsa {
  justify-content: space-around;
}

.jcse {
  justify-content: space-evenly;
}

.aifs {
  align-items: flex-start;
}

.aife {
  align-items: flex-end;
}

.aic {
  align-items: center;
}

.aib {
  align-items: baseline;
}

.ais {
  align-items: stretch;
}

.gap-0 {
  gap: 0;
}

.p-0 {
  padding: 0;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mr-0 {
  margin-right: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.gap-1 {
  gap: 4px;
}

.p-1 {
  padding: 4px;
}

.pt-1 {
  padding-top: 4px;
}

.pb-1 {
  padding-bottom: 4px;
}

.pl-1 {
  padding-left: 4px;
}

.pr-1 {
  padding-right: 4px;
}

.px-1 {
  padding-left: 4px;
  padding-right: 4px;
}

.py-1 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.m-1 {
  margin: 4px;
}

.mt-1 {
  margin-top: 4px;
}

.mb-1 {
  margin-bottom: 4px;
}

.ml-1 {
  margin-left: 4px;
}

.mr-1 {
  margin-right: 4px;
}

.mx-1 {
  margin-left: 4px;
  margin-right: 4px;
}

.my-1 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.gap-2 {
  gap: 8px;
}

.p-2 {
  padding: 8px;
}

.pt-2 {
  padding-top: 8px;
}

.pb-2 {
  padding-bottom: 8px;
}

.pl-2 {
  padding-left: 8px;
}

.pr-2 {
  padding-right: 8px;
}

.px-2 {
  padding-left: 8px;
  padding-right: 8px;
}

.py-2 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.m-2 {
  margin: 8px;
}

.mt-2 {
  margin-top: 8px;
}

.mb-2 {
  margin-bottom: 8px;
}

.ml-2 {
  margin-left: 8px;
}

.mr-2 {
  margin-right: 8px;
}

.mx-2 {
  margin-left: 8px;
  margin-right: 8px;
}

.my-2 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.gap-3 {
  gap: 12px;
}

.p-3 {
  padding: 12px;
}

.pt-3 {
  padding-top: 12px;
}

.pb-3 {
  padding-bottom: 12px;
}

.pl-3 {
  padding-left: 12px;
}

.pr-3 {
  padding-right: 12px;
}

.px-3 {
  padding-left: 12px;
  padding-right: 12px;
}

.py-3 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.m-3 {
  margin: 12px;
}

.mt-3 {
  margin-top: 12px;
}

.mb-3 {
  margin-bottom: 12px;
}

.ml-3 {
  margin-left: 12px;
}

.mr-3 {
  margin-right: 12px;
}

.mx-3 {
  margin-left: 12px;
  margin-right: 12px;
}

.my-3 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.gap-4 {
  gap: 16px;
}

.p-4 {
  padding: 16px;
}

.pt-4 {
  padding-top: 16px;
}

.pb-4 {
  padding-bottom: 16px;
}

.pl-4 {
  padding-left: 16px;
}

.pr-4 {
  padding-right: 16px;
}

.px-4 {
  padding-left: 16px;
  padding-right: 16px;
}

.py-4 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.m-4 {
  margin: 16px;
}

.mt-4 {
  margin-top: 16px;
}

.mb-4 {
  margin-bottom: 16px;
}

.ml-4 {
  margin-left: 16px;
}

.mr-4 {
  margin-right: 16px;
}

.mx-4 {
  margin-left: 16px;
  margin-right: 16px;
}

.my-4 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.gap-5 {
  gap: 20px;
}

.p-5 {
  padding: 20px;
}

.pt-5 {
  padding-top: 20px;
}

.pb-5 {
  padding-bottom: 20px;
}

.pl-5 {
  padding-left: 20px;
}

.pr-5 {
  padding-right: 20px;
}

.px-5 {
  padding-left: 20px;
  padding-right: 20px;
}

.py-5 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.m-5 {
  margin: 20px;
}

.mt-5 {
  margin-top: 20px;
}

.mb-5 {
  margin-bottom: 20px;
}

.ml-5 {
  margin-left: 20px;
}

.mr-5 {
  margin-right: 20px;
}

.mx-5 {
  margin-left: 20px;
  margin-right: 20px;
}

.my-5 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.gap-6 {
  gap: 24px;
}

.p-6 {
  padding: 24px;
}

.pt-6 {
  padding-top: 24px;
}

.pb-6 {
  padding-bottom: 24px;
}

.pl-6 {
  padding-left: 24px;
}

.pr-6 {
  padding-right: 24px;
}

.px-6 {
  padding-left: 24px;
  padding-right: 24px;
}

.py-6 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.m-6 {
  margin: 24px;
}

.mt-6 {
  margin-top: 24px;
}

.mb-6 {
  margin-bottom: 24px;
}

.ml-6 {
  margin-left: 24px;
}

.mr-6 {
  margin-right: 24px;
}

.mx-6 {
  margin-left: 24px;
  margin-right: 24px;
}

.my-6 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.gap-7 {
  gap: 32px;
}

.p-7 {
  padding: 32px;
}

.pt-7 {
  padding-top: 32px;
}

.pb-7 {
  padding-bottom: 32px;
}

.pl-7 {
  padding-left: 32px;
}

.pr-7 {
  padding-right: 32px;
}

.px-7 {
  padding-left: 32px;
  padding-right: 32px;
}

.py-7 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.m-7 {
  margin: 32px;
}

.mt-7 {
  margin-top: 32px;
}

.mb-7 {
  margin-bottom: 32px;
}

.ml-7 {
  margin-left: 32px;
}

.mr-7 {
  margin-right: 32px;
}

.mx-7 {
  margin-left: 32px;
  margin-right: 32px;
}

.my-7 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.gap-8 {
  gap: 40px;
}

.p-8 {
  padding: 40px;
}

.pt-8 {
  padding-top: 40px;
}

.pb-8 {
  padding-bottom: 40px;
}

.pl-8 {
  padding-left: 40px;
}

.pr-8 {
  padding-right: 40px;
}

.px-8 {
  padding-left: 40px;
  padding-right: 40px;
}

.py-8 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.m-8 {
  margin: 40px;
}

.mt-8 {
  margin-top: 40px;
}

.mb-8 {
  margin-bottom: 40px;
}

.ml-8 {
  margin-left: 40px;
}

.mr-8 {
  margin-right: 40px;
}

.mx-8 {
  margin-left: 40px;
  margin-right: 40px;
}

.my-8 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.gap-9 {
  gap: 64px;
}

.p-9 {
  padding: 64px;
}

.pt-9 {
  padding-top: 64px;
}

.pb-9 {
  padding-bottom: 64px;
}

.pl-9 {
  padding-left: 64px;
}

.pr-9 {
  padding-right: 64px;
}

.px-9 {
  padding-left: 64px;
  padding-right: 64px;
}

.py-9 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.m-9 {
  margin: 64px;
}

.mt-9 {
  margin-top: 64px;
}

.mb-9 {
  margin-bottom: 64px;
}

.ml-9 {
  margin-left: 64px;
}

.mr-9 {
  margin-right: 64px;
}

.mx-9 {
  margin-left: 64px;
  margin-right: 64px;
}

.my-9 {
  margin-top: 64px;
  margin-bottom: 64px;
}

.gap-10 {
  gap: 80px;
}

.p-10 {
  padding: 80px;
}

.pt-10 {
  padding-top: 80px;
}

.pb-10 {
  padding-bottom: 80px;
}

.pl-10 {
  padding-left: 80px;
}

.pr-10 {
  padding-right: 80px;
}

.px-10 {
  padding-left: 80px;
  padding-right: 80px;
}

.py-10 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.m-10 {
  margin: 80px;
}

.mt-10 {
  margin-top: 80px;
}

.mb-10 {
  margin-bottom: 80px;
}

.ml-10 {
  margin-left: 80px;
}

.mr-10 {
  margin-right: 80px;
}

.mx-10 {
  margin-left: 80px;
  margin-right: 80px;
}

.my-10 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.gap-auto {
  gap: auto;
}

.p-auto {
  padding: auto;
}

.pt-auto {
  padding-top: auto;
}

.pb-auto {
  padding-bottom: auto;
}

.pl-auto {
  padding-left: auto;
}

.pr-auto {
  padding-right: auto;
}

.px-auto {
  padding-left: auto;
  padding-right: auto;
}

.py-auto {
  padding-top: auto;
  padding-bottom: auto;
}

.m-auto {
  margin: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

/* 螢幕變化 */
@media (min-width: 1296px) {
  .container {
    padding: 0;
  }
  :root {
    --gap: 12px;
  }
}
@media (min-width: 1296px) {
  .col-xl-1 {
    width: calc((100% - var(--gap) * 11) / 12 * 1 + var(--gap) * 0);
  }
  .col-xl-2 {
    width: calc((100% - var(--gap) * 11) / 12 * 2 + var(--gap) * 1);
  }
  .col-xl-3 {
    width: calc((100% - var(--gap) * 11) / 12 * 3 + var(--gap) * 2);
  }
  .col-xl-4 {
    width: calc((100% - var(--gap) * 11) / 12 * 4 + var(--gap) * 3);
  }
  .col-xl-5 {
    width: calc((100% - var(--gap) * 11) / 12 * 5 + var(--gap) * 4);
  }
  .col-xl-6 {
    width: calc((100% - var(--gap) * 11) / 12 * 6 + var(--gap) * 5);
  }
  .col-xl-7 {
    width: calc((100% - var(--gap) * 11) / 12 * 7 + var(--gap) * 6);
  }
  .col-xl-8 {
    width: calc((100% - var(--gap) * 11) / 12 * 8 + var(--gap) * 7);
  }
  .col-xl-9 {
    width: calc((100% - var(--gap) * 11) / 12 * 9 + var(--gap) * 8);
  }
  .col-xl-10 {
    width: calc((100% - var(--gap) * 11) / 12 * 10 + var(--gap) * 9);
  }
  .col-xl-11 {
    width: calc((100% - var(--gap) * 11) / 12 * 11 + var(--gap) * 10);
  }
  .col-xl-12 {
    width: calc((100% - var(--gap) * 11) / 12 * 12 + var(--gap) * 11);
  }
  .jc-xl-fs {
    justify-content: flex-start;
  }
  .jc-xl-fe {
    justify-content: flex-end;
  }
  .jc-xl-c {
    justify-content: center;
  }
  .jc-xl-sb {
    justify-content: space-between;
  }
  .jc-xl-sa {
    justify-content: space-around;
  }
  .jc-xl-se {
    justify-content: space-evenly;
  }
  .ai-xl-fs {
    align-items: flex-start;
  }
  .ai-xl-fe {
    align-items: flex-end;
  }
  .ai-xl-c {
    align-items: center;
  }
  .ai-xl-b {
    align-items: baseline;
  }
  .ai-xl-s {
    align-items: stretch;
  }
  .gap-xl-0 {
    gap: 0;
  }
  .p-xl-0 {
    padding: 0;
  }
  .pt-xl-0 {
    padding-top: 0;
  }
  .pb-xl-0 {
    padding-bottom: 0;
  }
  .pl-xl-0 {
    padding-left: 0;
  }
  .pr-xl-0 {
    padding-right: 0;
  }
  .px-xl-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .py-xl-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .m-xl-0 {
    margin: 0;
  }
  .mt-xl-0 {
    margin-top: 0;
  }
  .mb-xl-0 {
    margin-bottom: 0;
  }
  .ml-xl-0 {
    margin-left: 0;
  }
  .mr-xl-0 {
    margin-right: 0;
  }
  .mx-xl-0 {
    margin-left: 0;
    margin-right: 0;
  }
  .my-xl-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .gap-xl-1 {
    gap: 4px;
  }
  .p-xl-1 {
    padding: 4px;
  }
  .pt-xl-1 {
    padding-top: 4px;
  }
  .pb-xl-1 {
    padding-bottom: 4px;
  }
  .pl-xl-1 {
    padding-left: 4px;
  }
  .pr-xl-1 {
    padding-right: 4px;
  }
  .px-xl-1 {
    padding-left: 4px;
    padding-right: 4px;
  }
  .py-xl-1 {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .m-xl-1 {
    margin: 4px;
  }
  .mt-xl-1 {
    margin-top: 4px;
  }
  .mb-xl-1 {
    margin-bottom: 4px;
  }
  .ml-xl-1 {
    margin-left: 4px;
  }
  .mr-xl-1 {
    margin-right: 4px;
  }
  .mx-xl-1 {
    margin-left: 4px;
    margin-right: 4px;
  }
  .my-xl-1 {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .gap-xl-2 {
    gap: 8px;
  }
  .p-xl-2 {
    padding: 8px;
  }
  .pt-xl-2 {
    padding-top: 8px;
  }
  .pb-xl-2 {
    padding-bottom: 8px;
  }
  .pl-xl-2 {
    padding-left: 8px;
  }
  .pr-xl-2 {
    padding-right: 8px;
  }
  .px-xl-2 {
    padding-left: 8px;
    padding-right: 8px;
  }
  .py-xl-2 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .m-xl-2 {
    margin: 8px;
  }
  .mt-xl-2 {
    margin-top: 8px;
  }
  .mb-xl-2 {
    margin-bottom: 8px;
  }
  .ml-xl-2 {
    margin-left: 8px;
  }
  .mr-xl-2 {
    margin-right: 8px;
  }
  .mx-xl-2 {
    margin-left: 8px;
    margin-right: 8px;
  }
  .my-xl-2 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .gap-xl-3 {
    gap: 12px;
  }
  .p-xl-3 {
    padding: 12px;
  }
  .pt-xl-3 {
    padding-top: 12px;
  }
  .pb-xl-3 {
    padding-bottom: 12px;
  }
  .pl-xl-3 {
    padding-left: 12px;
  }
  .pr-xl-3 {
    padding-right: 12px;
  }
  .px-xl-3 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .py-xl-3 {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .m-xl-3 {
    margin: 12px;
  }
  .mt-xl-3 {
    margin-top: 12px;
  }
  .mb-xl-3 {
    margin-bottom: 12px;
  }
  .ml-xl-3 {
    margin-left: 12px;
  }
  .mr-xl-3 {
    margin-right: 12px;
  }
  .mx-xl-3 {
    margin-left: 12px;
    margin-right: 12px;
  }
  .my-xl-3 {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .gap-xl-4 {
    gap: 16px;
  }
  .p-xl-4 {
    padding: 16px;
  }
  .pt-xl-4 {
    padding-top: 16px;
  }
  .pb-xl-4 {
    padding-bottom: 16px;
  }
  .pl-xl-4 {
    padding-left: 16px;
  }
  .pr-xl-4 {
    padding-right: 16px;
  }
  .px-xl-4 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .py-xl-4 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .m-xl-4 {
    margin: 16px;
  }
  .mt-xl-4 {
    margin-top: 16px;
  }
  .mb-xl-4 {
    margin-bottom: 16px;
  }
  .ml-xl-4 {
    margin-left: 16px;
  }
  .mr-xl-4 {
    margin-right: 16px;
  }
  .mx-xl-4 {
    margin-left: 16px;
    margin-right: 16px;
  }
  .my-xl-4 {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .gap-xl-5 {
    gap: 20px;
  }
  .p-xl-5 {
    padding: 20px;
  }
  .pt-xl-5 {
    padding-top: 20px;
  }
  .pb-xl-5 {
    padding-bottom: 20px;
  }
  .pl-xl-5 {
    padding-left: 20px;
  }
  .pr-xl-5 {
    padding-right: 20px;
  }
  .px-xl-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .py-xl-5 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .m-xl-5 {
    margin: 20px;
  }
  .mt-xl-5 {
    margin-top: 20px;
  }
  .mb-xl-5 {
    margin-bottom: 20px;
  }
  .ml-xl-5 {
    margin-left: 20px;
  }
  .mr-xl-5 {
    margin-right: 20px;
  }
  .mx-xl-5 {
    margin-left: 20px;
    margin-right: 20px;
  }
  .my-xl-5 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .gap-xl-6 {
    gap: 24px;
  }
  .p-xl-6 {
    padding: 24px;
  }
  .pt-xl-6 {
    padding-top: 24px;
  }
  .pb-xl-6 {
    padding-bottom: 24px;
  }
  .pl-xl-6 {
    padding-left: 24px;
  }
  .pr-xl-6 {
    padding-right: 24px;
  }
  .px-xl-6 {
    padding-left: 24px;
    padding-right: 24px;
  }
  .py-xl-6 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .m-xl-6 {
    margin: 24px;
  }
  .mt-xl-6 {
    margin-top: 24px;
  }
  .mb-xl-6 {
    margin-bottom: 24px;
  }
  .ml-xl-6 {
    margin-left: 24px;
  }
  .mr-xl-6 {
    margin-right: 24px;
  }
  .mx-xl-6 {
    margin-left: 24px;
    margin-right: 24px;
  }
  .my-xl-6 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .gap-xl-7 {
    gap: 32px;
  }
  .p-xl-7 {
    padding: 32px;
  }
  .pt-xl-7 {
    padding-top: 32px;
  }
  .pb-xl-7 {
    padding-bottom: 32px;
  }
  .pl-xl-7 {
    padding-left: 32px;
  }
  .pr-xl-7 {
    padding-right: 32px;
  }
  .px-xl-7 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .py-xl-7 {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .m-xl-7 {
    margin: 32px;
  }
  .mt-xl-7 {
    margin-top: 32px;
  }
  .mb-xl-7 {
    margin-bottom: 32px;
  }
  .ml-xl-7 {
    margin-left: 32px;
  }
  .mr-xl-7 {
    margin-right: 32px;
  }
  .mx-xl-7 {
    margin-left: 32px;
    margin-right: 32px;
  }
  .my-xl-7 {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .gap-xl-8 {
    gap: 40px;
  }
  .p-xl-8 {
    padding: 40px;
  }
  .pt-xl-8 {
    padding-top: 40px;
  }
  .pb-xl-8 {
    padding-bottom: 40px;
  }
  .pl-xl-8 {
    padding-left: 40px;
  }
  .pr-xl-8 {
    padding-right: 40px;
  }
  .px-xl-8 {
    padding-left: 40px;
    padding-right: 40px;
  }
  .py-xl-8 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .m-xl-8 {
    margin: 40px;
  }
  .mt-xl-8 {
    margin-top: 40px;
  }
  .mb-xl-8 {
    margin-bottom: 40px;
  }
  .ml-xl-8 {
    margin-left: 40px;
  }
  .mr-xl-8 {
    margin-right: 40px;
  }
  .mx-xl-8 {
    margin-left: 40px;
    margin-right: 40px;
  }
  .my-xl-8 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .gap-xl-9 {
    gap: 64px;
  }
  .p-xl-9 {
    padding: 64px;
  }
  .pt-xl-9 {
    padding-top: 64px;
  }
  .pb-xl-9 {
    padding-bottom: 64px;
  }
  .pl-xl-9 {
    padding-left: 64px;
  }
  .pr-xl-9 {
    padding-right: 64px;
  }
  .px-xl-9 {
    padding-left: 64px;
    padding-right: 64px;
  }
  .py-xl-9 {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .m-xl-9 {
    margin: 64px;
  }
  .mt-xl-9 {
    margin-top: 64px;
  }
  .mb-xl-9 {
    margin-bottom: 64px;
  }
  .ml-xl-9 {
    margin-left: 64px;
  }
  .mr-xl-9 {
    margin-right: 64px;
  }
  .mx-xl-9 {
    margin-left: 64px;
    margin-right: 64px;
  }
  .my-xl-9 {
    margin-top: 64px;
    margin-bottom: 64px;
  }
  .gap-xl-10 {
    gap: 80px;
  }
  .p-xl-10 {
    padding: 80px;
  }
  .pt-xl-10 {
    padding-top: 80px;
  }
  .pb-xl-10 {
    padding-bottom: 80px;
  }
  .pl-xl-10 {
    padding-left: 80px;
  }
  .pr-xl-10 {
    padding-right: 80px;
  }
  .px-xl-10 {
    padding-left: 80px;
    padding-right: 80px;
  }
  .py-xl-10 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .m-xl-10 {
    margin: 80px;
  }
  .mt-xl-10 {
    margin-top: 80px;
  }
  .mb-xl-10 {
    margin-bottom: 80px;
  }
  .ml-xl-10 {
    margin-left: 80px;
  }
  .mr-xl-10 {
    margin-right: 80px;
  }
  .mx-xl-10 {
    margin-left: 80px;
    margin-right: 80px;
  }
  .my-xl-10 {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .gap-xl-auto {
    gap: auto;
  }
  .p-xl-auto {
    padding: auto;
  }
  .pt-xl-auto {
    padding-top: auto;
  }
  .pb-xl-auto {
    padding-bottom: auto;
  }
  .pl-xl-auto {
    padding-left: auto;
  }
  .pr-xl-auto {
    padding-right: auto;
  }
  .px-xl-auto {
    padding-left: auto;
    padding-right: auto;
  }
  .py-xl-auto {
    padding-top: auto;
    padding-bottom: auto;
  }
  .m-xl-auto {
    margin: auto;
  }
  .mt-xl-auto {
    margin-top: auto;
  }
  .mb-xl-auto {
    margin-bottom: auto;
  }
  .ml-xl-auto {
    margin-left: auto;
  }
  .mr-xl-auto {
    margin-right: auto;
  }
  .mx-xl-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .my-xl-auto {
    margin-top: auto;
    margin-bottom: auto;
  }
}
/* 操作類*/
.btn-md, .btn-lg, .btn-neutral, .btn-primary-md, .btn-primary-lg, .btn-primary, .btn-white-md, .btn-white-lg, .btn-white, .btn {
  display: inline-block;
  border-radius: 999px;
  color: var(--color-neutral-0);
}

.btn-md:hover, .btn-lg:hover, .btn-neutral:hover, .btn-primary-md:hover, .btn-primary-lg:hover, .btn-primary:hover, .btn-white-md:hover, .btn-white-lg:hover, .btn-white:hover, .btn:hover {
  transition: all 0.3s ease;
}

.btn {
  background: var(--color-neutral-700);
}
.btn.material-symbols-outlined {
  padding: 12px;
}

.btn:hover {
  background-color: var(--color-neutral-900);
}

.btn-white {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-700);
}
.btn-white.material-symbols-outlined {
  padding: 12px;
}

.btn-white:hover {
  background-color: var(--color-primary-50);
}

.btn-white-lg {
  padding: 0.75em 1.5em;
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-700);
  gap: 8px;
}

.btn-white-lg:hover {
  background-color: var(--color-primary-50);
}

.btn-white-md {
  padding: 12px 20px;
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-700);
  gap: 8px;
}

.btn-white-md:hover {
  background-color: var(--color-primary-50);
}

.btn-primary {
  background-color: var(--color-primary-900);
}
.btn-primary.material-symbols-outlined {
  padding: 12px;
}

.btn-primary:hover {
  background-color: var(--color-neutral-900);
}

.btn-primary-lg {
  padding: 0.75em 1.5em;
  background-color: var(--color-primary-900);
  gap: 8px;
}

.btn-primary-lg:hover {
  background-color: var(--color-neutral-900);
}

.btn-primary-md {
  padding: 12px 20px;
  background-color: var(--color-primary-900);
  gap: 8px;
}

.btn-primary-md:hover {
  background-color: var(--color-neutral-900);
}

.btn-neutral {
  background-color: var(--color-neutral-700);
}
.btn-neutral.material-symbols-outlined {
  padding: 12px;
}

.btn-neutral:hover {
  background-color: var(--color-neutral-900);
}

.btn-lg {
  padding: 0.75em 1.5em;
  background-color: var(--color-neutral-700);
  gap: 8px;
}

.btn-lg:hover {
  background-color: var(--color-neutral-900);
}

.btn-md {
  padding: 12px 20px;
  background-color: var(--color-neutral-700);
  gap: 8px;
}

.btn-md:hover {
  background-color: var(--color-neutral-900);
}

.border, .text-field, .border-hover:hover {
  border: 1px solid;
}

/* 文字樣式 */
body {
  font-family: "Noto Sans", sans-serif;
  color: var(--color-neutral-500);
  line-height: var(--line-height);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.display-1 {
  font-size: var(--display-1);
  letter-spacing: 0%;
  font-weight: 700;
  line-height: 1.2;
}

.display-2 {
  font-size: var(--display-2);
  letter-spacing: 0%;
  font-weight: 700;
  line-height: 1.2;
}

.heading-xxxlg {
  font-size: var(--heading-xxxlg);
  letter-spacing: 2%;
  font-weight: 700;
  line-height: 1.2;
}

.heading-xxlg {
  font-size: var(--heading-xxlg);
  letter-spacing: 2%;
  font-weight: 700;
  line-height: 1.2;
}

.heading-xlg {
  font-size: var(--heading-xlg);
  letter-spacing: 2%;
  font-weight: 700;
  line-height: 1.2;
}

.heading-lg {
  font-size: var(--heading-lg);
  letter-spacing: 2%;
  font-weight: 700;
  line-height: 1.5;
}

.heading-md {
  font-size: var(--heading-md);
  letter-spacing: 2%;
  font-weight: 700;
  line-height: 1.5;
}

.heading-sm, .services .service-card .card-title span {
  font-size: var(--heading-sm);
  letter-spacing: 2%;
  font-weight: 700;
  line-height: 1.5;
}

.heading-xsm {
  font-size: var(--heading-xsm);
  letter-spacing: 2%;
  font-weight: 700;
  line-height: 1.5;
}

.heading-xxsm {
  font-size: var(--heading-xxsm);
  letter-spacing: 2%;
  font-weight: 700;
  line-height: 1.5;
}

.heading-xxxsm {
  font-size: var(--heading-xxxsm);
  letter-spacing: 2%;
  font-weight: 700;
  line-height: 1.5;
}

.heading-xxxxsm, .services .service-card .card-title {
  font-size: var(--heading-xxxxsm);
  letter-spacing: 2%;
  font-weight: 700;
  line-height: 1.5;
}

.lable-md, .btn-white-lg, .btn-primary-lg, .btn-lg {
  font-size: var(--lable-md);
  letter-spacing: 2%;
  font-weight: 500;
  line-height: 1.5;
}

.lable-sm, .text-field button, .btn-white-md, .btn-primary-md, .btn-md {
  font-size: var(--lable-sm);
  letter-spacing: 2%;
  font-weight: 500;
  line-height: 1.5;
}

.lable-xsm {
  font-size: var(--lable-xsm);
  letter-spacing: 2%;
  font-weight: 500;
  line-height: 1.5;
}

.paragraph-md {
  font-size: var(--paragraph-md);
  letter-spacing: 2%;
  font-weight: 500;
  line-height: 1.5;
}

.paragraph-sm, .services .service-card .bottom .card-description, .services .service-card, .text-field .input-text {
  font-size: var(--paragraph-sm);
  letter-spacing: 2%;
  font-weight: 500;
  line-height: 1.5;
}

.paragraph-xsm {
  font-size: var(--paragraph-xsm);
  letter-spacing: 2%;
  font-weight: 500;
  line-height: 1.5;
}

@media (min-width: 1296px) {
  .display-xl-1 {
    font-size: var(--display-1);
    letter-spacing: 0%;
    font-weight: 700;
    line-height: 1.2;
  }
  .display-xl-2 {
    font-size: var(--display-2);
    letter-spacing: 0%;
    font-weight: 700;
    line-height: 1.2;
  }
  .heading-xl-xxxlg {
    font-size: var(--heading-xxxlg);
    letter-spacing: 2%;
    font-weight: 700;
    line-height: 1.2;
  }
  .heading-xl-xxlg {
    font-size: var(--heading-xxlg);
    letter-spacing: 2%;
    font-weight: 700;
    line-height: 1.2;
  }
  .heading-xl-xlg {
    font-size: var(--heading-xlg);
    letter-spacing: 2%;
    font-weight: 700;
    line-height: 1.2;
  }
  .heading-xl-lg {
    font-size: var(--heading-lg);
    letter-spacing: 2%;
    font-weight: 700;
    line-height: 1.5;
  }
  .heading-xl-md, .services .service-card .card-title span {
    font-size: var(--heading-md);
    letter-spacing: 2%;
    font-weight: 700;
    line-height: 1.5;
  }
  .heading-xl-sm {
    font-size: var(--heading-sm);
    letter-spacing: 2%;
    font-weight: 700;
    line-height: 1.5;
  }
  .heading-xl-xsm {
    font-size: var(--heading-xsm);
    letter-spacing: 2%;
    font-weight: 700;
    line-height: 1.5;
  }
  .heading-xl-xxsm {
    font-size: var(--heading-xxsm);
    letter-spacing: 2%;
    font-weight: 700;
    line-height: 1.5;
  }
  .heading-xl-xxxsm, .services .service-card .card-title {
    font-size: var(--heading-xxxsm);
    letter-spacing: 2%;
    font-weight: 700;
    line-height: 1.5;
  }
  .heading-xl-xxxxsm {
    font-size: var(--heading-xxxxsm);
    letter-spacing: 2%;
    font-weight: 700;
    line-height: 1.5;
  }
  .lable-xl-md, .text-field button {
    font-size: var(--lable-md);
    letter-spacing: 2%;
    font-weight: 500;
    line-height: 1.5;
  }
  .lable-xl-sm {
    font-size: var(--lable-sm);
    letter-spacing: 2%;
    font-weight: 500;
    line-height: 1.5;
  }
  .lable-xl-xsm {
    font-size: var(--lable-xsm);
    letter-spacing: 2%;
    font-weight: 500;
    line-height: 1.5;
  }
  .paragraph-xl-md, .services .service-card .bottom .card-description, .text-field input {
    font-size: var(--paragraph-md);
    letter-spacing: 2%;
    font-weight: 500;
    line-height: 1.5;
  }
  .paragraph-xl-sm {
    font-size: var(--paragraph-sm);
    letter-spacing: 2%;
    font-weight: 500;
    line-height: 1.5;
  }
  .paragraph-xl-xsm {
    font-size: var(--paragraph-xsm);
    letter-spacing: 2%;
    font-weight: 500;
    line-height: 1.5;
  }
}
/* google icon 預設設定 */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 12px;
}

/* text field */
.text-field {
  display: block;
  border-radius: 40px;
  padding: 7px;
  color: var(--color-neutral-0);
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
}
.text-field input {
  background: inherit;
  border: none;
  color: inherit;
  padding: 8px 12px;
}
.text-field input:focus {
  outline: none;
}
.text-field input::-moz-placeholder {
  color: inherit;
}
.text-field input::placeholder {
  color: inherit;
}
.text-field .input-text {
  flex: auto;
}
.text-field button {
  padding: 12px 20px;
}
@media (min-width: 1296px) {
  .text-field input {
    padding: 12px 24px;
  }
  .text-field button {
    padding: 12px 24px;
  }
}

/* Display 展示類 */
.logo {
  width: 140px;
  height: 40%;
}

@media (max-width: 1296px) {
  .logo {
    width: 112px;
    height: 32px;
  }
}
/* Banner */
.banner {
  color: var(--color-neutral-0);
  background-color: var(--color-dark-60a);
  background: linear-gradient(var(--color-dark-60a), var(--color-dark-60a)), url("../img/mobile/subscription_bg.png") center/cover no-repeat;
}
.banner .banner-img {
  width: 100%;
  min-height: 320px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (min-width: 1296px) {
  .banner {
    padding: 0 40px;
    background: linear-gradient(var(--color-dark-60a), var(--color-dark-60a)), url("../img/subscription_bg.png") center/cover no-repeat;
  }
  .banner .banner-img {
    min-height: 440px;
  }
}
/* SERVICES */
.services .service-card {
  width: 260px;
  height: 133px;
  padding: 12px;
  gap: 8px;
  background-color: var(--color-neutral-50);
  color: var(--color-neutral-700);
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}
.services .service-card .card-title {
  line-height: 1.5;
}
.services .service-card .card-title span {
  display: block;
  line-height: 1.5;
}
.services .service-card .material-symbols-outlined {
  margin-left: auto;
  font-size: 10px;
}
.services .service-card .material-symbols-outlined.btn {
  font-size: 20px;
}
.services .service-card .bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 8px;
  width: 100%;
}
.services .service-card .bottom .card-description {
  max-width: 184px;
}
@media (min-width: 1296px) {
  .services .service-card {
    width: 306px;
    height: 174px;
    padding: 24px;
    gap: 12px;
  }
  .services .service-card .material-symbols-outlined {
    font-size: 28px;
  }
  .services .service-card .material-symbols-outlined.btn {
    font-size: 24px;
  }
  .services .service-card .bottom {
    gap: 12px;
  }
  .services .service-card .bottom .card-description {
    max-width: 198px;
  }
}

/* project */
.project-card {
  background-color: var(--color-primary-50);
}/*# sourceMappingURL=all.css.map */