@use "sass:map";
@use "sass:string";
@use "_layout" as layout;
@use "_fonts" as fonts;
/* 以下為一些全局的樣式，包含一些常用的 class */
body{
  color: var(--color-neutral-700);
}
/* 操作類型 */
:root {
  --TF-radius: 32px;
  --round-fill:1000px;
  --round-0: 0;
}
/* text field */
.text-field {
  display: block;
  border-radius: var(--TF-radius);
  padding: calc(8px - var(--border-width));
  // border: var(--border-width) solid var(--color-neutral-0);
  border: var(--border-width) solid;
  color: inherit;
  display: flex;
  gap: var(--gap-2);
  justify-content: space-between;
  align-items: center;
  
  input,textarea{
    flex: auto;
    border: none;
    border-radius: var(--TF-radius);
    color: inherit;
    background: inherit;
    padding: var(--p-2) var(--p-3);
    gap: var(--gap-2);
    &:focus{ outline: none; }
    &::placeholder{color:inherit;}
    @include fonts.copyTyCSS("paragraph","sm");
  }
  
  textarea{ min-height: 116px;}
  
  button{
    @include fonts.copyTyCSS("label","sm");
    padding: var(--p-3) var(--p-5);
  }
}
 @include layout.media("xl") {
   :root{
     --TF-radius: 40px;
    }
  .text-field {  
    input{
      @include fonts.copyTyCSS("paragraph","md");
      padding: var(--p-3) var(--p-6);}
    button{
      @include fonts.copyTyCSS("label","md");
      padding: var(--p-3) var(--p-6);
    }
    textarea{ min-height: 120px;}
  }
}
/* Display 展示類 */
.logo{
  width: 140px;
  height: 40px;
}
@include layout.media("xl") {
  .logo{
    width: 112px;
    height: 32px;
  }
}
// icon
// label
.labels{ display: inline-flex; }
.label+.label::before{ content: "．"; }
// illus
/* Banner */
.banner{
  color: var(--color-neutral-0);
  background-color: var(--color-dark-60a);
  background: linear-gradient( var(--color-dark-60a), var(--color-dark-60a)), 
  url('../img/mobile/subscription_bg.png')center/cover no-repeat;
  .banner-img{
    width: 100%;
    min-height: 320px;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .right{
    @extend section;
  }
}
@include layout.media("xl") {
  .banner{
    padding: 0px;
    background: linear-gradient( var(--color-dark-60a), var(--color-dark-60a)), 
    url('../img/subscription_bg.png')center/cover no-repeat;
    .banner-img{ min-height: 440px; }
    .right{
        padding: var(--p-10) var(--p-8);
    }
  }
}
/* 共通card*/
[class*="-card"]{
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-3);
  width: 100%;
  @include fonts.copyTyCSS("paragraph","sm");
  .card-img{
      width: 100%;
      min-height: var(--case-card-img-h);
      position: relative;
      overflow: hidden;
      &::before,&::after{
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.5s ease;
        transform-origin: translate(50%, 50%);
        background: linear-gradient( var(--color-dark-40a))center/cover no-repeat;
      }
    }
    
  &:hover .card-img::before,&:hover .card-img::after{
    transform: scale(150%);
    filter: blur(2px);
    opacity: 0.6;
  }
  .card-content{
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
    width: 100%;
    >*{ width: 100%; }
    time{ @include fonts.copyTyCSS("paragraph","xsm");}
    .labels{width: 100%; }
    .card-title{
      @include fonts.copyTyCSS("heading","xsm");
    }
    .btn{padding: var(--p-3);}
  }
  @include layout.media("xl") {
    &{
      @include fonts.copyTyCSS("paragraph","md");
      .card-content{
        time{ @include fonts.copyTyCSS("paragraph","sm");}
        .labels{width: initial; }
        .card-title{@include fonts.copyTyCSS("heading", "sm"); }
        .google-symbols{font-size: 24px;}
      }
     }
  }
}
/* Blog card */
:root{ --blog-card-img-h: 148.15px; }
.blog-card{
    min-width: 260px;
    height: calc(100% - var(--blog-card-img-h) - var(--gap-3));
  .card-img{
    min-height: var(--blog-card-img-h);
    &::after{display: none;}
  }
  .card-content{
    time,u{@include fonts.copyTyCSS("paragraph","xsm");}
    .post-meta{
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--gap-2);
        time{margin-right: auto;}
        u{
          display: inline-flex;
          gap: var(--gap-1);
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
        }
      }
      .google-symbols{ font-size: 20px; }
  }
}
@include layout.media("xl"){
  :root{ --blog-card-img-h: 240px; }
  .blog-card{
    &,.card-content{gap: var(--gap-3);}
    .card-content{
      .label{ @include fonts.copyTyCSS("paragraph", "md"); }
      time,u{ @include fonts.copyTyCSS("paragraph", "sm"); }
    }
  }
}
/* user case card */
:root{ --case-card-img-h: 203.41px; }
.case-card{
  .card-img{
      min-height: var(--case-card-img-h);
    }
}
@include layout.media("xl") {
  :root{ --case-card-img-h: 305.99px; }
}
/* SERVICES */
.services{
  .service-card{
    width: 260px;
    height: 133px;
    padding: var(--p-3);
    gap: var(--gap-2);
    background-color: var(--color-primary-50);
    color: var(--color-neutral-700);
    @include fonts.copyTyCSS("paragraph","sm");
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    .card-title{
      @include fonts.copyTyCSS("heading","xxxxsm");
      span{
        @include fonts.copyTyCSS("heading","sm");
        display: block;
      }
      &+.google-symbols{
        margin-left: auto;
        font-size: 24px;
      }
    }
    .bottom{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      gap: var(--gap-2);
      width: 100%;
      .card-description{
        max-width: 184px;
        @include fonts.copyTyCSS("paragraph","sm");
      }
      .btn{
        font-size: 20px;
        padding: var(--p-3)
      }
    }
  }
  @include layout.media("xl") {
    .service-card{
      width: 306px;
      height: 174px;
      padding: var(--p-6);
      gap: var(--gap-3);
      .card-title{
        @include fonts.copyTyCSS("heading","xxxsm");
        span{ @include fonts.copyTyCSS("heading","md");}
        &+.google-symbols{
          font-size: 28px;
        }
      }
      .bottom{
        gap: var(--gap-3);
        .card-description{
          max-width: 198px;
          @include fonts.copyTyCSS("paragraph","md");
        }
        .btn{
          font-size: 24px;
        }
      }
    }
  }
}

/* project */
.projects{

  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--gap-3);
  }
  .project-card {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    width: 100%;
    max-width: 351px;
    min-height: 580px;
    padding: var(--p-4);
    gap: var(--gap-3);
    background: url(../img/mobile/project_1.png)center/cover no-repeat;
    color: var(--color-neutral-700);
    .card-content{
      background-color: var(--color-primary-50);
      text-align: center;
      min-height: 284px;
      padding: var(--p-6);
      gap: var(--gap-3);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @extend .paragraph-sm;
      time{
        @extend .paragraph-xsm;
      }
      .card-title{
        @extend .heading-xsm;
      }
    }
  }
  @include layout.media("xl",true) using ($screen){
    ul{ gap: var(--gap-6); }
    .project-card{
      max-width: 100%;
      min-height: 397px;
      padding: var(32px , --p-7);
      gap: var(--gap-6);
      align-items: stretch;
      background-image: url(../img/project_1.png);
      .card-content{
        padding: var(--p-8);
        @extend .paragraph-#{$screen}-md;
        
        .card-title{ @extend .heading-#{$screen}-sm; }
        time{@extend .paragraph-#{$screen}-sm;}
      }
    }
    
  }
}
/* Pullquote 引言 */
.pullquote{
  display: grid;
  gap: var(--gap-2);
  padding: var(--p-4);
  background-color: var(--color-primary-50);
}
@include layout.media("xl") {
  .pullquote{
    padding: var(--p-6);
  }
}
/*nav 導覽列 和 彈出視窗*/
body{position: relative;}
.modal-overlay{
  width: 100vw;
  min-height: 100%;
  padding: 10vh 0;
  background-color: var(--color-dark-60a);
  backdrop-filter: blur(1px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  &:has(.modal-content){
    z-index: 999;
    overflow-y: auto;
  }
  .modal-content{
    // display: none;
    position: fixed;
    z-index: 1000;
    transform: translate(-50%,0%);
    top: 8vh;
    left:50%;
    min-height: 50vh;
    min-width: layout.$min-width - layout.$grid-gap;
    max-width: layout.$max-width;
  }
  .modal-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-neutral-0);
  }

}


.navbar{
  position:sticky;
  top: 0;
  z-index: 100;
  padding: var(--p-2) var(--p-3);
  gap: var(--gap-2);
  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--gap-3);
  }
  .logo img{width: 100%;height: 100%; object-fit: cover; }
  button{
    margin-left: auto;
    padding: calc(var(--p-3) - var(--border-width));
  }
  .nav-menu{
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-3);
    padding: var(--p-3);
    text-align: center;
    width: 100%;
    .nav-item{
      @include fonts.copyTyCSS("label","sm");
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
        a{
          display: inline-block;
          padding: var(--p-1) var(--p-3);
        }
        &:hover a{
          background: var(--color-neutral-900);
          color: var(--color-neutral-0);
        }
      }
    }
  }
@include layout.media("xl") {
  .navbar{
    padding: var(--p-3) var(--p-8);
    .nav-toggle{display: none;}
    .nav-menu{
      width: initial;
      margin-left: auto;
      padding:0;
      gap: var(--gap-6);
      .nav-item{
        width: initial;
        @include fonts.copyTyCSS("label","md");
      }
    }
  }
}
/* breadcrumb 麵包屑 */
.breadcrumbs{
  padding: var(--p-2) var(--p-3);
  background: var(--color-primary-900);
  color: var(--color-neutral-0);
  .breadcrumb{
    display: flex;
    gap: var(--gap-1);
    @include fonts.copyTyCSS("label","sm");

    li+li::before{
      vertical-align: bottom;
      content: "keyboard_arrow_right";
      @extend %icon;
    }
  }
  .breadcrum-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@include layout.media("xl") {
  .breadcrumbs{
    padding: var(--p-3) var(--p-8);
    .breadcrumb{
      gap: var(--gap-2);
      @include fonts.copyTyCSS("label","md");
      li+li::before{ font-size: 24px; }
      .breadcrum-item {  line-height: 1;  }

    }
  }
}
/* tab 標籤*/
.tab-list,.tab-list-icon,.tab-link{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--gap-1);
}
.tab-list,.tab-list-icon{
  .tab-link{
    padding: var(--p-2) var(--p-3);
    background-color: var(--color-neutral-0);
    color: var(--color-neutral-700);
    &:hover{
      background-color: var(--color-primary-50);
    }
    &:active,&.active{
      background-color: var(--color-primary-900);
      color: var(--color-neutral-0);
    }
  }
  .tab-link,.tab-title{
    @include fonts.copyTyCSS("heading","xxxsm");
  }
}
.scroll-x{
  .tab-list{
    flex-wrap: nowrap;
    justify-content: start;
    .tab-link{
      .tab-title{word-break: keep-all;}
    }
  }
}

.tab-list-icon{
  .tab-link{
  padding: var(--p-4) var(--p-3);}
  .google-symbols{
   display: block;width: 100%;
  }
  .tab-link,.tab-title{
    @include fonts.copyTyCSS("heading","xxxxsm");
  }
  .tab-title strong{
    @include fonts.copyTyCSS("heading","sm");
  }
}
@include layout.media("xl") {
  .tab-list {
    li{flex:1;}
  }
  .tab-list-icon{gap: var(--gap-6);}
  .tab-list,.tab-list-icon{
    .tab-link{
      padding: var(--p-3) var(--p-6);
    }
    .tab-link,.tab-title{
      @include fonts.copyTyCSS("heading","xsm");
    }
    .tab-title strong{
      @include fonts.copyTyCSS("heading","xxsm");
    }
  }
  .scroll-x .tab-link .tab-title{@include fonts.copyTyCSS("heading","xxsm");}
  .tab-list-icon .tab-link{
    padding: var(--p-7);
    gap: var(--gap-3);
    .google-symbols{
      font-size: 28px;
    }
    .tab-link,.tab-title{
      @include fonts.copyTyCSS("heading","xxxsm");
    }
    .tab-title strong{
      @include fonts.copyTyCSS("heading","md");
    }
  }
}
/* Stepper 流程 */
:root{ --step-icon-size: 36px; }
.stepper{
  counter-reset: number;
  @include fonts.copyTyCSS("paragraph","sm");
  .step{
    counter-increment: number; 
    display: flex;
    justify-self: start;
    align-items: start;
    gap: var(--gap-6);
    position: relative;
    .step-content{
      order:1;
      display: grid;
      gap: var(--gap-3);
      padding-bottom: var(--p-8);
    }
    &::before{
      content: "";
      position: absolute;
      top: 1em;
      left: 0;
      width: calc((var(--step-icon-size)) / 2);
      height: 100%;
      border-right:1px solid;
      z-index: 0;
    }
    &:nth-last-child(1)::before{ display: none; }
    &::after,.step-icon{
      content: counter(number);
      position: relative;
      z-index: 1;
      order: 0;
      border-radius: var(--round-fill);
      background-color: var(--color-neutral-0);
      color: var(--color-neutral-700);
      @include fonts.copyTyCSS("paragraph","sm");
      display: flex;
      justify-content: center;
      align-items: center;
      padding: var(--p-1);
      width: var(--step-icon-size);
      height: var(--step-icon-size);
      flex-shrink: 0;
    }
  }
}
@include layout.media("xl") {
  :root{ --step-icon-size: 40px; }
  .stepper{
    @include fonts.copyTyCSS("paragraph","md");
    .step{
      &::after,.step-icon{
        @include fonts.copyTyCSS("paragraph","md");
      }
    }
  }
}
/* collapse-list FQA 手風琴展開*/
.collapse-list{
  counter-reset: number;
  @include fonts.copyTyCSS("paragraph","sm");
  .collapse{
    counter-increment: number; 
    border-bottom:1px solid var(--color-primary-900);
    display: flex;
    justify-content: start;
    align-items: start;
    gap: var(--gap-3);
    width: 100%;
    padding: var(--p-4);
    position: relative;
    &:nth-last-child(1){ border: none; }
    details[open]{display: grid; gap: var(--gap-2);}
    summary{
      display: flex;
      cursor: pointer;
      width: 100%;
    }
    summary::marker{ display: none; content:"";}
    
    &::before,summary{
      @include fonts.copyTyCSS("heading","xxxsm");
      min-width: 32px;
      min-height: 28px;
    }
    &::before{
      content: counter(number, decimal-leading-zero);
      position: relative;
      flex-shrink: 0;
    }
    &:after{
      content:"keyboard_arrow_down";
      @extend %icon;
      font-size: 24px;
      margin-left: auto;
      line-height: 1;
    }
    &:has(details[open]):after{
      content:"keyboard_arrow_up";
    }
    &:hover{
      background-color: var(--color-primary-100);
    }
  }
}
@include layout.media("xl") {
  .collapse-list{
    @include fonts.copyTyCSS("paragraph","md");
    .collapse{
      padding: var(--p-6);
      details[open]{gap: var(--gap-4);}
      &::before,summary{ @include fonts.copyTyCSS("heading","xxsm"); }
    }
  }
}
/* post 文章ＰＯ文*/
.post{
  // padding: var(--p-8) var(--p-3);
  &,.post-header,.post-body,.post-footer,.figure{
    gap: var(--gap-5);
    display: grid;
  }
  .post-header,.figure{gap: var(--gap-2)}
  .post-info,.post-body{@include fonts.copyTyCSS("paragraph","sm")}
  .post-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .post-body{ padding: initial;}
  h1{@include fonts.copyTyCSS("heading","md");}
  h2{@include fonts.copyTyCSS("heading","sm");}
  .figure{padding-top: var(--p-2);}
  .post-footer{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    .google-symbols, .bi { font-size: 24px; }
  }
  
  @include layout.media("xl"){
    &{
      // padding: var(--p-10) var(--p-8);
      &,.post-body{ gap: var(--gap-6); }
      .post-header,.figure{gap: var(--gap-4)}
      .post-info,.post-body{@include fonts.copyTyCSS("paragraph","md")}
      h1{@include fonts.copyTyCSS("heading","xxlg");}
      h2{@include fonts.copyTyCSS("heading","lg");}
      .figure{padding-top: var(--p-4);}
      .post-footer {
        justify-content: space-between;
        .google-symbols, .bi { font-size: 24px; }
      }

    }
  }
}
/* table 表格 */
.table{
  // text-align: center;
  td,th {
    border: 1px solid var(--color-neutral-500);
    vertical-align: middle;
    padding: var(--p-2) var(--p-3);
    word-break: break-all;
    text-align: inherit;
  }
  thead{
    color: var(--color-neutral-0);
    background: var(--color-primary-900);
  }
  tbody{
    background: var(--color-primary-50);
    color: var(--color-primary-900);
  }
  @include layout.media("xl"){
    td,th{
      padding: var(--p-3) var(--p-6);
    }
  }
  
}
/* footer */
.footer{
  background-color: var(--color-primary-900);
  color: var(--color-neutral-0);
  padding: var(--p-8) var(--p-3);
  .social-btns{
    display: flex;
    align-items: center;
    gap: var(--gap-3);
    a{padding: var(--p-3);}
  }
}
@include layout.media("xl") {
  .footer{
    padding: var(--p-10) var(--p-8);
  }
}
// 滑鼠移動插圖視差
.layerBox{
  position: relative;
  overflow: hidden;
  .illus{
    position: absolute;
    object-fit: cover;
    pointer-events: none;
  }
}
// /* －－－以上為一些全局的樣式，包含一些常用的 class */