@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  /* 颜色系统 */
  --color-primary-50: #FDF7F1;
  --color-primary-100: #FDE6CF;
  --color-primary-500:#F5B87B;
  --color-primary-900:#24140B;

  --color-neutral-0:#FFFFFF;
  --color-neutral-500:#737373;
  --color-neutral-700:#404040;
  --color-neutral-900:#1E1E1E;

  --color-dark-40a: rgba(0, 0, 0, 0.4);
  --color-dark-60a: rgba(0, 0, 0, 0.6);
  /*  文字系统 */
  --line-height: 1.5;
  --line-height-sm: 1.2;
  
  --font-weight-regular:500;
  --font-weight-bold: 700;
  /* grid系统 */
  --grid-gap: 24px;
  --grid-gap-sm: 12px;
}
*,*::before,*::after { box-sizing: border-box;}

.contenter {
  max-width: calc(86px * 12 + 24px * 11);
  margin: 0 auto; 
  padding: 0 1rem;
}
.row{
  display: flex;
  flex-wrap: wrap;
  gap: var(--grid-gap);
  .col{
    flex: 1;
    padding: 0 1rem;
  }
  @for $i from 1 through $grid-coulmn {
    .col-#{$i} {
      flex: 0 0 calc((100% / #{$grid-coulmn}) * #{$i} - var(--grid-gap));
    }
  }
  // @media screen (max-width:375px) {

    
  // }
}
/* 文字樣式 */
body{
  font-family: "Noto Sans", sans-serif;
  color: var(--color-neutral-500);
  line-height: var(--line-height);
}
%dispaly {
  font-weight: var(--font-weight-bold, 700);
  line-height: var(--line-height-sm, 1.2);
  letter-spacing: 0%;
}
%heading {
  font-weight: var(--font-weight-bold, 700);
  line-height: var(--line-height, 1.5);
}
%paragraph {
  font-weight: var(--font-weight-regular, 500);
  line-height: var(--line-height, 1.5);
}
.display-1{ font-size: 300px; @extend %dispaly; }
.display-2{ font-size: 160px; @extend %dispaly; }

.heading-xxxlg{ font-size: 80px; @extend %dispaly; }
.heading-xxlg{ font-size: 48px; @extend %dispaly; }
.heading-xlg{ font-size: 40px; @extend %dispaly; }
.heading-lg{ font-size: 32px; @extend %heading; }
.heading-md{ font-size: 28px; @extend %heading; }
.heading-sm{ font-size: 24px; @extend %heading; }
.heading-xsm{ font-size: 20px; @extend %heading; }
.heading-xxsm{ font-size: 18px; @extend %heading; }
.heading-xxxsm{ font-size: 16px; @extend %heading; }
.heading-xxxxsm{ font-size: 14px; @extend %heading; }

.label-md{ font-size: 16px; @extend %paragraph; }
.label-sm{ font-size: 14px; @extend %paragraph; }
.label-xsm{ font-size: 13px; @extend %paragraph; }

.paragraph-md{ font-size: 16px; @extend %paragraph; }
.paragraph-sm{ font-size: 14px; @extend %paragraph; }
.paragraph-xsm{ font-size: 13px; @extend %paragraph; } 