@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  /* 颜色系统 */
  --color-primary-50: #FDF7F1;
  --color-primary-100: #FDE6CF;
  --color-primary-500:#F5B87B;
  --color-primary-900:#24140B;

  --color-neutral-0:#FFFFFF;
  --color-neutral-500:#737373;
  --color-neutral-700:#404040;
  --color-neutral-900:#1E1E1E;

  --color-dark-40a: rgba(0, 0, 0, 0.4);
  --color-dark-60a: rgba(0, 0, 0, 0.6);
/* 文字尺寸 */
  @each $type, $properties in $Typography-types {
    @each $size, $value in map-get($properties, size) {
      --#{$type}-#{$size}: #{$value};
    }
  }
  /* grid */
  --gap:24px;
}
.bg-primary{
  background-color: var(--color-primary-900);
  color:var(--color-neutral-0);
}
.container {
  max-width: calc($max-width);
  margin: 0 auto; 
  padding: 0 1rem;
}
.row{
  display: flex;
  flex-wrap: wrap;
  gap: calc((var(--gap) / 2));
}
@for $i from 1 through $grid-coulmn {
  .col-#{$i} {
    width: calc((100% - var(--gap) * ($grid-coulmn - 1)) / $grid-coulmn * $i + var(--gap) * ($i - 1));
  }
}

.jcfs{ justify-content: flex-start; }
.jcfe{ justify-content: flex-end; }
.jcc{ justify-content: center; }
.jcsb{ justify-content: space-between; }
.jcsa{ justify-content: space-around; }
.jcse{ justify-content: space-evenly; }
.aifs{ align-items: flex-start; }
.aife{ align-items: flex-end; }
.aic{ align-items: center; }
.aib{ align-items: baseline; }
.ais{ align-items: stretch; }

@each $spacing, $value in $spacing-sizes {
  .gap-#{$spacing} { gap: $value; }
  .p-#{$spacing} { padding: $value; }
  .pt-#{$spacing} { padding-top: $value; }
  .pb-#{$spacing} { padding-bottom: $value; }
  .pl-#{$spacing} { padding-left: $value; }
  .pr-#{$spacing} { padding-right: $value; }
  .px-#{$spacing} { padding-left: $value; padding-right: $value; }
  .py-#{$spacing} { padding-top: $value; padding-bottom: $value; }

  .m-#{$spacing} { margin: $value; }
  .mt-#{$spacing} { margin-top: $value; }
  .mb-#{$spacing} { margin-bottom: $value; }
  .ml-#{$spacing} { margin-left: $value; }
  .mr-#{$spacing} { margin-right: $value; }
  .mx-#{$spacing} { margin-left: $value; margin-right: $value; }
  .my-#{$spacing} { margin-top: $value; margin-bottom: $value; }
}
/* 螢幕變化 */
@media (min-width: map-get($media-breakpoints, sm)) {
  .container{ padding: 0 12px; }
  :root{--gap: 12px;}
}
@each $media, $screen in $media-breakpoints {
  @media (min-width: $screen) {
    @for $i from 1 through $grid-coulmn {
      .col-#{$media}-#{$i} {
        width: calc((100% - var(--gap) * ($grid-coulmn - 1)) / $grid-coulmn * $i + var(--gap) * ($i - 1));
      }
    }
      .jc-#{$media}-fs{ justify-content: flex-start; }
      .jc-#{$media}-fe{ justify-content: flex-end; }
      .jc-#{$media}-c{ justify-content: center; }
      .jc-#{$media}-sb{ justify-content: space-between; }
      .jc-#{$media}-sa{ justify-content: space-around; }
      .jc-#{$media}-se{ justify-content: space-evenly; }
      .ai-#{$media}-fs{ align-items: flex-start; }
      .ai-#{$media}-fe{ align-items: flex-end; }
      .ai-#{$media}-c{ align-items: center; }
      .ai-#{$media}-b{ align-items: baseline; }
      .ai-#{$media}-s{ align-items: stretch; }
    @each $spacing, $value in $spacing-sizes {
      .gap-#{$media}-#{$spacing} { gap: $value; }
      .p-#{$media}-#{$spacing} { padding: $value; }
      .pt-#{$media}-#{$spacing} { padding-top: $value; }
      .pb-#{$media}-#{$spacing} { padding-bottom: $value; }
      .pl-#{$media}-#{$spacing} { padding-left: $value; }
      .pr-#{$media}-#{$spacing} { padding-right: $value; }
      .px-#{$media}-#{$spacing} { padding-left: $value; padding-right: $value; }
      .py-#{$media}-#{$spacing} { padding-top: $value; padding-bottom: $value; }

      .m-#{$media}-#{$spacing} { margin: $value; }
      .mt-#{$media}-#{$spacing} { margin-top: $value; }
      .mb-#{$media}-#{$spacing} { margin-bottom: $value; }
      .ml-#{$media}-#{$spacing} { margin-left: $value; }
      .mr-#{$media}-#{$spacing} { margin-right: $value; }
      .mx-#{$media}-#{$spacing} { margin-left: $value; margin-right: $value; }
      .my-#{$media}-#{$spacing} { margin-top: $value; margin-bottom: $value; }
    }
  }
}
/* 操作類*/
%btn{
  display: inline-block;
  border-radius: 999px;
  color: var(--color-neutral-0);
  // padding: 12px;
}
%btn-hover{
  transition: all 0.3s ease;
}
%btn-lg{
  @extend %btn;
  @extend .label-md;
  padding: 12px 24px;
  gap: 8px;
}
%btn-md{
  @extend %btn;
  @extend .label-sm;
  padding: 12px 20px;
  gap: 8px;
}

.btn{
  @extend %btn;
  background: var(--color-neutral-700);
  &.material-symbols-outlined{
      padding: 12px;
    }
}
.btn:hover {
  background-color: var(--color-neutral-900);
  @extend %btn-hover;
}
@each $color, $value in $btn-colors {
  .btn-#{$color} {
    @extend %btn;
    background-color: map-get($value, bg);
    @if $color == "white" {
      color: map-get($value, color);
    }
    &.material-symbols-outlined{
      padding: 12px;
    }
  }
  .btn-#{$color}:hover {
    background-color: map-get($value, hover-bg);
    @extend %btn-hover;
  }
  //以下尺寸變化
  @each $size, $properties in $btn-sizes {
    @if $color == "neutral" {
      .btn-#{$size} {
        @extend %btn;
        @extend .label-#{map-get($properties, lebel-size)};
        padding: map-get($properties, padding);
        background-color: map-get($value, bg);
        gap: 8px;
      }
        .btn-#{$size}:hover {
          background-color: map-get($value, hover-bg);
          @extend %btn-hover;
        }
    } @else {
        .btn-#{$color}-#{$size} {
          @extend %btn;
          @extend .label-#{map-get($properties, lebel-size)};
          padding: map-get($properties, padding);
          background-color: map-get($value, bg);
          @if $color == "white" {
            color: map-get($value, color);
          }
          gap: 8px;
        }
        .btn-#{$color}-#{$size}:hover {
          background-color: map-get($value, hover-bg);
          @extend %btn-hover;
        }
      }
  }
}
.border{
  border: $border-width solid;
}
.border-hover:hover {
  @extend .border;
}
/* 文字樣式 */
body{
  font-family: "Noto Sans", sans-serif;
  color: var(--color-neutral-500);
  line-height: var(--line-height);
}
@each $type, $properties in $Typography-types {
  @each $size, $value in map-get($properties, size) {
    .#{$type}-#{$size} {
      font-size: $value;
      letter-spacing: map-get($properties, letter-spacing);
      line-height: map-get($properties, line-height);
      font-weight: map-get($properties, font-weight);
    }
  }
}
@each $media, $screen in $media-breakpoints {
  @media (min-width: $screen) {
    @each $type, $properties in $Typography-types {
      @each $size, $value in map-get($properties, size) {
        .#{$type}-#{$media}-#{$size} {
          font-size: $value;
          letter-spacing: map-get($properties, letter-spacing);
          line-height: map-get($properties, line-height);
          font-weight: map-get($properties, font-weight);
        }
      }
    }
  }
}
/* google icon 預設設定 */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 12px;
}
/* text field */
.text-field {
  display: block;
  border-radius: 40px;
  @extend .border;
  padding: 8px - $border-width;
  color: var(--color-neutral-0);
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  
  *{padding:12px 24px;}
  
  input{
    background: inherit;
    border: none;
    color: inherit;
    &:focus{ outline: none; }
    &::placeholder{color:inherit;}
  }

  .input-text-lg{
    @extend .paragraph-md;
    flex: auto;
    
    &+.btn-white{
      @extend .btn-white;
      @extend .label-md;
    }
  }
  
  .input-text-md{
    @extend .paragraph-sm;
    flex: auto;
    padding: 8px 12px;
    
    &+.btn-white{
      @extend .btn-white;
      @extend .label-sm;
      padding: 12px 20px;
    }
  }
}
/* Display 展示類 */
.logo{
  width: 140px;
  height: 40%;
}
@media (max-width: $max-width) {
  .logo{
    width: 112px;
    height: 32px;
  }
}
// icon
// lable
// illus
/* Banner */
.banner{
  padding: 40px;
  min-height: 440px;
  color: var(--color-neutral-0);
  background-color: var(--color-dark-60a);
  background: url()cover/center no-repeat;
  gap: 24px;
  .banner-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .right{
    padding:80px 40px;
  }
}