@use "_layout" as layout;
/* blog.scss */
.blog_banner{
   background: linear-gradient(var(--color-dark-40a)),url(../img/mobile/blog_banner.png)center/cover no-repeat;
}
.blog{
    .col-xl-6{ --blog-card-img-h: 200px; }
    li:nth-child(1) .col-xl-6.card-img::before{background-image: url(../img/blog_1.png);}
    li:nth-child(2) .col-xl-6.card-img::before{background-image: url(../img/blog_2.png);}
    li:nth-child(3) .col-xl-6.card-img::before{background-image: url(../img/blog_3.png);}
    li:nth-child(4) .col-xl-6.card-img::before{background-image: url(../img/blog_4.png);}
    li:nth-child(5) .col-xl-6.card-img::before{background-image: url(../img/blog_5.png);}
}

@include layout.media("xl",true) using ($screen){
    .blog_banner{
       background: linear-gradient(var(--color-dark-40a)),url(../img/blog_banner.png);
    }
    .blog{
        .col-xl-6{ --blog-card-img-h: 256px; }
    }
}