@use "sass:map";
@use "sass:string";
$grid-coulmn: 12;
$grid-gap: 24px;
$max-width: 86px * 12 + $grid-gap * 11;
$min-width: 375px;
$media-breakpoints: (
    // "sm": $max-width * 0.25,
    // "sm": $min-width - 1px,
    // "md": 768px,
    // "lg": 992px,
    // "xl": 1200px,
    "xl": $max-width - 1px,
    // "xxl": 1400px
);
$spacing:(
  0 : 0,
  1 : 4px,
  2 : 8px,
  3 : 12px,
  4 : 16px,
  5 : 20px,
  6 : 24px,
  7 : 28px,
  // 7 : 32px,
  8 : 40px,
  // "8" : 48px,
  9 : 64px,
  10: 80px,
  "auto": auto,
);
// 螢幕斷點的 mixin （專門負責印出 @media）
@mixin media($breakpoint : null,$returnName: null) {
    @if map.has-key($media-breakpoints, $breakpoint) {
        @media (min-width: map.get($media-breakpoints, $breakpoint)) {
            
            @if $returnName!= null{ @content($breakpoint); }
            @else{ @content; }
        }
    } @else {
        @warn "沒有這個螢幕斷點名稱: #{$breakpoint}";
    }
}
/* 以下為 grid 等相關容器樣式 */
:root {
    --gap: #{$grid-gap};
    --gap-sm: #{map.get($spacing, 3)};
    --gap-xl: #{$grid-gap};
    @each $spacing-name, $value in $spacing {
        --gap-#{$spacing-name}: #{$value};
        --p-#{$spacing-name}: #{$value};
        --m-#{$spacing-name}: #{$value};
    }
}

@each $name, $value in $spacing {
    .gap-#{$name} { gap: var(--gap-#{$name}); }
    .p-#{$name} { padding: var(--gap-#{$name}); }
    .pt-#{$name} { padding-top: var(--gap-#{$name}); }
    .pb-#{$name} { padding-bottom: var(--gap-#{$name}); }
    .pl-#{$name} { padding-left: var(--gap-#{$name}); }
    .pr-#{$name} { padding-right: var(--gap-#{$name}); }
    .px-#{$name} { padding-left: var(--gap-#{$name}); padding-right: var(--gap-#{$name}); }
    .py-#{$name} { padding-top: var(--gap-#{$name}); padding-bottom: var(--gap-#{$name}); }

    .m-#{$name} { margin: var(--gap-#{$name}); }
    .mt-#{$name} { margin-top: var(--gap-#{$name}); }
    .mb-#{$name} { margin-bottom: var(--gap-#{$name}); }
    .ml-#{$name} { margin-left: var(--gap-#{$name}); }
    .mr-#{$name} { margin-right: var(--gap-#{$name}); }
    .mx-#{$name} { margin-left: var(--gap-#{$name}); margin-right: var(--gap-#{$name}); }
    .my-#{$name} { margin-top: var(--gap-#{$name}); margin-bottom: var(--gap-#{$name}); }
}
@each $screen, $breakpoint in $media-breakpoints {
    @include media($screen) {
        @each $name, $value in $spacing {
            .gap-#{$screen}-#{$name} { gap: var(--gap-#{$name}); }
            .p-#{$screen}-#{$name} { padding: var(--gap-#{$name}); }
            .pt-#{$screen}-#{$name} { padding-top: var(--gap-#{$name}); }
            .pb-#{$screen}-#{$name} { padding-bottom: var(--gap-#{$name}); }
            .pl-#{$screen}-#{$name} { padding-left: var(--gap-#{$name}); }
            .pr-#{$screen}-#{$name} { padding-right: var(--gap-#{$name}); }
            .px-#{$screen}-#{$name} { padding-left: var(--gap-#{$name}); padding-right: var(--gap-#{$name}); }
            .py-#{$screen}-#{$name} { padding-top: var(--gap-#{$name}); padding-bottom: var(--gap-#{$name}); }

            .m-#{$screen}-#{$name} { margin: var(--gap-#{$name}); }
            .mt-#{$screen}-#{$name} { margin-top: var(--gap-#{$name}); }
            .mb-#{$screen}-#{$name} { margin-bottom: var(--gap-#{$name}); }
            .ml-#{$screen}-#{$name} { margin-left: var(--gap-#{$name}); }
            .mr-#{$screen}-#{$name} { margin-right: var(--gap-#{$name}); }
            .mx-#{$screen}-#{$name} { margin-left: var(--gap-#{$name}); margin-right: var(--gap-#{$name}); }
            .my-#{$screen}-#{$name} { margin-top: var(--gap-#{$name}); margin-bottom: var(--gap-#{$name}); }
        }
    }
}
.overflow-hidden { overflow: hidden; }
.scroll-x { overflow-x: scroll; overflow-y: hidden; }
.container {
    max-width: $max-width;
    margin: 0 auto;
}
section {
    // padding: map.get($spacing, 8) map.get($spacing, 3);
    padding: var(--p-8) var(--p-3);
     @include media("xl") {
        // padding: map.get($spacing, 10) map.get($spacing, 8);
        padding: var(--p-10) var(--p-8);
    }
}
.flex {
    display: flex;
    gap: var(--gap-sm);
}
.row {
    display: flex;
    gap: calc((var(--gap) / 2));
    flex-wrap: wrap;
     
}
.w-100,
[class^="col-"],[class*="col-"]{ width: 100%; }
@for $i from 1 through $grid-coulmn {
  .col-#{$i} {
    max-width: calc((100% - var(--gap) * ($grid-coulmn - 1)) / $grid-coulmn * $i + var(--gap) * ($i - 1));
  }
}
.jc-fs{ justify-content: flex-start; }
.jc-fe{ justify-content: flex-end; }
.jc-c{ justify-content: center; }
.jc-sb{ justify-content: space-between; }
.jc-sa{ justify-content: space-around; }
.jc-se{ justify-content: space-evenly; }
.ai-fs{ align-items: flex-start; }
.ai-fe{ align-items: flex-end; }
.ai-c{ align-items: center; }
.ai-b{ align-items: baseline; }
.ai-s{ align-items: stretch; }
// 響應式容器樣式
@each $screen, $breakpoint in $media-breakpoints {
    @include media($screen) {
        .overflow-#{$screen}-hidden { overflow: hidden; }
        .scroll-#{$screen}-x { overflow-x: scroll; overflow-y: hidden; }
        
        @for $i from 1 through $grid-coulmn {
          .col-#{$screen}-#{$i} {
            max-width: calc((100% - var(--gap) * ($grid-coulmn - 1)) / $grid-coulmn * $i + var(--gap) * ($i - 1));
          }
        }
        .jc-#{$screen}-fs{ justify-content: flex-start; }
        .jc-#{$screen}-fe{ justify-content: flex-end; }
        .jc-#{$screen}-c{ justify-content: center; }
        .jc-#{$screen}-sb{ justify-content: space-between; }
        .jc-#{$screen}-sa{ justify-content: space-around; }
        .jc-#{$screen}-se{ justify-content: space-evenly; }
        .ai-#{$screen}-fs{ align-items: flex-start; }
        .ai-#{$screen}-fe{ align-items: flex-end; }
        .ai-#{$screen}-c{ align-items: center; }
        .ai-#{$screen}-b{ align-items: baseline; }
        .ai-#{$screen}-s{ align-items: stretch; }
    }
}
/* －－－以上為 grid 等相關容器樣式 */
