@use "_layout" as layout;
/* index.scss */
.projects{
    ul .project-card:nth-child(1){background-image: url(../img/mobile/project_1.png);}
    ul .project-card:nth-child(2){background-image: url(../img/mobile/project_2.png);}
    ul .project-card:nth-child(3){background-image: url(../img/mobile/project_3.png);}
}
.blog{
    li:nth-child(2) .blog-img::before{background-image: url(../img/blog_4.png);}
    li:nth-child(1) .blog-img::before{background-image: url(../img/blog_2.png);}
    li:nth-child(3) .blog-img::before{background-image: url(../img/blog_5.png);}
}

@include layout.media("xl",true) using ($screen){
  .projects{
      ul .project-card:nth-child(1){background-image: url(../img/project_1.png);}
      ul .project-card:nth-child(2){background-image: url(../img/project_2.png);}
      ul .project-card:nth-child(3){background-image: url(../img/project_3.png);}
  }
}