@use "sass:map";
@use "sass:string";
@use "_grid" as grid;
@use "_fonts" as fonts;
$btn-sizes: (
  "lg": (
    font-type:"label",
    font-type-size:"md",
    padding: var(--gap-3) var(--gap-6),
  ),
  "md": (
    padding: var(--gap-3) var(--gap-5),
    font-type:"label",
    font-type-size:"sm"
  )
);
$btn-colors: (
  "white": (
    color: var(--color-neutral-700),
    bg: var(--color-neutral-0),
    hover-bg: var(--color-primary-50)
    ),
  "primary": (
    color: var(--color-neutral-0),
    bg: var(--color-primary-900),
    hover-bg: var(--color-neutral-900)
    ),
  "neutral": (
    color: var(--color-neutral-0),
    bg: var(--color-neutral-700),
    hover-bg: var(--color-neutral-900)
    ),
  "outline": (
    color: var(--color-neutral-700),
    bg: transparent,
    hover-bg: var(--color-primary-500)
    // hover-bg: var(--color-primary-50)
    )
);
$border-width: 1px;

/* 以上為 Link btn border...操作類樣式 */
@mixin hover-effect($bg:null,$color:null) {
    .hover,.active,&:hover,&:active {
        cursor: pointer;
        transition: all 0.3s ease;
        @if $bg {
            background-color: $bg;
        }
        @if $color {
            color: $color;
        }
        @content;
    }
}
.btn,button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    // border: 1px solid transparent;
    border-radius: 9999px;
    text-align: center;
    text-decoration: none;
    gap: var(--gap-2);
    padding: map.get(map.get($btn-sizes, "md"), padding);
    color: map.get(map.get($btn-colors, "neutral"), color);
    background-color: map.get(map.get($btn-colors, "neutral"), bg);
    // @include fonts.copyTyCSS("label", "sm");
    @include fonts.copyTyCSS(map.get(map.get($btn-sizes, "md"), font-type), map.get(map.get($btn-sizes, "md"), font-type-size));
    
    @include hover-effect(var(--color-neutral-900),var(--color-neutral-0)) 
}
//螢幕尺寸xl以上的按鈕
@include grid.media(xl){
    .btn{
        @include fonts.copyTyCSS(map.get(map.get($btn-sizes, "md"), font-type), map.get(map.get($btn-sizes, "lg"), font-type-size));
    }
    // @include fonts.copyTyCSS("label", "md");
} 
@mixin create-btn($size :null, $color :null) {
    @if $size != null and $color != null {
        $button: map.get($btn-sizes, $size);
        $button-c: map.get($btn-colors, $color);

        padding: map.get($button, padding);
        color: map.get($button-c, color);
        background-color: map.get($button-c, bg);
        @include fonts.copyTyCSS(map.get($button, font-type), map.get($button, font-type-size));
        @include hover-effect(map.get($button-c, hover-bg),map.get($button-c, color)) {
        };
    }
}
@each $color, $properties in $btn-colors {
    .btn-#{$color} {
        @extend .btn;
        @include create-btn(md, $color);
        @if $color == "outline" {
            border: var(--border-width) solid var(--color-neutral-700);
        }
    }
    @include grid.media(xl) {
        .btn-#{$color} {
            @include create-btn(lg, $color);
            @if $color == "outline" {
            border: var(--border-width) solid var(--color-neutral-700);
        }
        }
    }
}
:root {
  --border-0: none;
  --border-width: #{$border-width};
}
.border { border: 1px solid; }
.border-0 { border: var(--border-0) }
.border-t { border: 1px solid transparent; }
@each $color, $properties in $btn-colors {
    .border-#{$color} {
        @extend .border;
        border-color: map.get($properties, bg);
    }
}
/* －－－以上為 Link btn border...操作類樣式 */