$grid-coulmn: 12;
$grid-gap: 24px;
$max-width: 86px * 12 + $grid-gap * 11;
$spacing-sizes:(
  0: 0,
  1: 4px,
  2: 8px,
  3: 12px,
  4: 16px,
  5: 20px,
  6: 24px,
  7: 32px,
  8: 40px,
  // "8": 48px,
  9: 64px,
  10: 80px,
  "auto":auto,
  // 11: 96px
);
$media-breakpoints: (
    //   "sm": $max-width * 0.25,
    // "sm": 375.5px,
    //  "md": 768px,
    //   "lg": 992px,
    //   "xl": 1200px,
    "xl": $max-width,
//   "xxl": 1400px
);
$Typography-types: (
  "display": (
    size: (
        "1": 300px,
        "2": 160px
    ),
    letter-spacing: 0%,
    line-height: 1.2,
    font-weight: 700
  ),
  "heading": (
    size: (
        "xxxlg":80px,
        "xxlg":48px,
        "xlg":40px,
        "lg":32px,
        "md":28px,
        "sm":24px,
        "xsm":20px,
        "xxsm":18px,
        "xxxsm":16px,
        "xxxxsm":14px
    ),
    letter-spacing: 2%,
    lh: 1.2,
    line-height: 1.5,
    font-weight: 700
  ),
  "lable": (
    size: (
        "md": 16px,
        "sm": 14px,
        "xsm": 13px
    ),
    letter-spacing: 2%,
    line-height: 1.5,
    font-weight: 500
  ),
  "paragraph": (
    size: (
        "md": 16px,
        "sm": 14px,
        "xsm": 13px
    ),
    letter-spacing: 2%,
    line-height: 1.5,
    font-weight: 500
  )
);
$btn-sizes: (
  "lg": (
    lebel-size:"md",
    padding: 0.75em 1.5em,
  ),
  "md": (
    lebel-size:"sm",
    padding: 12px 20px,
  )
);
$btn-colors: (
  "white": (
    color: var(--color-neutral-700),
    bg: var(--color-neutral-0),
    hover-bg: var(--color-primary-50)
    ),
  "primary": (
    bg: var(--color-primary-900),
    hover-bg: var(--color-neutral-900)
    ),
  "neutral": (
    bg: var(--color-neutral-700),
    hover-bg: var(--color-neutral-900)
    )
);
$border-width: 1px;



$grid-breakpoints: (
  xs: 0,
  sm: 375px,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px
) !default;
// 前綴
$prefix: "grid-";